<div class="container">
  <div class="row">
    <div class="col-md-6 col-xs-12 col-md-offset-3">
    <h1>Inicia Sesión</h1>

      <% flash.each do |message_type, message| %>
        <div class="normal alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= form_for(:session, url: login_path) do |f| %>
        
        <%= f.label :email, "Correo electrónico" %>
        <%= f.email_field :email, class: 'form-control', autofocus: 'autofocus' %>
        
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
        
        <br>
        <%= f.submit "Inicia Sesión", class: "btn btn-success long" %>
      <% end %>
    </div>
  </div>
</div>