<br>
<br>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div>
    <a href="/users/new"><div class="btn btn-default">Nuevo usuario</div></a>
  </div>  
</div>