<div class="navbar navbar-default navbar-static-top" id="nav">
  <div class="container navbar-left">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
      <span class= "icon-bar"></span> 
      <span class= "icon-bar"></span>
      <span class= "icon-bar"></span>     
    </button>
     <a class="navbar-brand  navbar-collapse" href="/">
      <%#= link_to root_path do %>
        <%= image_tag "logo2.png", id: "logonav", class: "img-responsive" %>
      <%# end %>
    </a>  
    <div class= "collapse navbar-collapse navHeaderCollapse" id="navegacion">
      <ul id="listanav" class="nav navbar-nav navbar-right">
        <li>
          <%= link_to root_path do %>
            Inicio
          <% end %>
        </li>
        <li>
          <%= link_to premio_path do %>
            Premio
          <% end %>
        </li>
        <li>
          <%= link_to ganadores_path do %>
            Ganadores
          <% end %>
        </li>
        <li>
          <%= link_to convocatoria_path do %>
            Convocatoria 2016
          <% end %>
        </li>
        <% if !logged_in? %>
          <li>
            <%= link_to new_user_path do  %> <!-- #link_to new_user_path do -->
              Registra tu proyecto
            <% end %>
          </li>
        <% else %>
          <% if current_user.admin? %>
            <li>
              <a href="/admin-cummins">
                Proyectos
              </a>
            </li>
            <li><a href="/users">Usuarios</a></li>
          <% else  %>
            <% if current_user.volunteer? %>
              <li>
                <a href="/proyects">Proyectos</a>
              </li>
            <% else %>
              <li>
                <%= link_to edit_proyect_path(current_user.proyect) do %>
                  Edita tu proyecto
                <% end %>
              </li>
              <%  if current_user.proyect.accepted == 1%>
                <li>
                  <%= link_to actions_proposal_path(current_user) do  %> 
                    Etapa final
                  <% end %>
                </li>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
        
        <% if logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= current_user.email %><span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li class="active">
                <%= link_to "Cerrar Session", logout_path, method: :delete %>
                
              </li>
            </ul>
          </li>

        <% else %>
          <li>
            <%= link_to "Iniciar Session", login_path %>
          </li>
        <% end %>

      </ul>
    </div>
  </div>
</div>
<div class="separator"></div>