<div class="container">
  <div class="row">
    <div class="col-md-8 col-xs-12 col-md-offset-2">
      <h4>
        Instrucciones: <br> 
        Por cada una de las acciones descritas en la sección “Acciones” colocar en el espacio en blanco correspondiente de la Tabla. Calendario de actividades 2017 las fechas tentativas para realizar la acción durante el 2017 y su duración en días (Se puede seleccionar cualquier fecha del 1° de enero del 2016 al 31 de diciembre del 2017). <br>
        En la Columna "¿Cuántas veces se realiza la acción en el año?"   Colocar el número de veces que se repite la acción correspondiente. <br>
        En la columna de “Eventos 1,2,3,4,5,6,7,8,9,10,11,12” colocar las veces que se repite la acción entendiendo que  1 evento= 1 repetición. <br>
        Por cada Evento indicar la fecha de inicio (2017) y duración en días. <br>
        *Fechas y duración pueden estar sujetas a cambio en la aplicación.

      </h4>
      
      <hr>
	  </div>
  </div>
</div>
  <%= form_for(@section) do |f| %>
  		<table>
				<thead>
					<tr>
  					<th colspan="2">Calendario de actividades 2017</th> 
  					<th> ¿Cuántas veces se realiza la acción en el año?</th> 
  					<th colspan="2">Evento 1</th>
  					<th colspan="2">Evento 2</th>
  					<th colspan="2">Evento 3</th>
  					<th colspan="2">Evento 4</th>
  					<th colspan="2">Evento 5</th>
  					<th colspan="2">Evento 6</th>
  					<th colspan="2">Evento 7</th>
  					<th colspan="2">Evento 8</th>
  					<th colspan="2">Evento 9</th>
  					<th colspan="2">Evento 10</th>
  					<th colspan="2">Evento 11</th>
  					<th colspan="2">Evento 12</th>
  					<tr border="0">
  						<th colspan="2"></th>
  						<th></th>
  						<th>Fecha Inicio</th>
  						<th>Duración en días</th>
  						<th>Fecha Inicio</th>
  						<th>Duración en días</th>
  						<th>Fecha Inicio</th>
  						<th>Duración en días</th>
  						<th>Fecha Inicio</th>
  						<th>Duración en días</th>
  						<th>Fecha Inicio</th>
  						<th>Duración en días</th>
  						<th>Fecha Inicio</th>
  						<th>Duración en días</th>
  						<th>Fecha Inicio</th>
  						<th>Duración en días</th>
  						<th>Fecha Inicio</th>
  						<th>Duración en días</th>
  						<th>Fecha Inicio</th>
  						<th>Duración en días</th>
  						<th>Fecha Inicio</th>
  						<th>Duración en días</th>
  						<th>Fecha Inicio</th>
  						<th>Duración en días</th>
  						<th>Fecha Inicio</th>
  						<th>Duración en días</th>
  					</tr>
					</tr>
			</thead>
			<tbody>
					<tr>
  					<td>Acción</td>
  					<td>&nbsp; 1.1 &nbsp; <%= @proposal.action_1a %></td>
  					<td><%= f.number_field :times_action_1a, class: 'form-control'%></td>
  					<td><%= f.date_select :section1_fechaI_1a, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section1_dias_1a, class: 'form-control'%></td>
  					<td><%= f.date_select :section2_fechaI_1a, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section2_dias_1a, class: 'form-control'%></td>
  					<td><%= f.date_select :section3_fechaI_1a, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section3_dias_1a, class: 'form-control'%></td>
  					<td><%= f.date_select :section4_fechaI_1a, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section4_dias_1a, class: 'form-control'%></td>
  					<td><%= f.date_select :section5_fechaI_1a, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section5_dias_1a, class: 'form-control'%></td>
  					<td><%= f.date_select :section6_fechaI_1a, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section6_dias_1a, class: 'form-control'%></td>
  					<td><%= f.date_select :section7_fechaI_1a, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section7_dias_1a, class: 'form-control'%></td>
  					<td><%= f.date_select :section8_fechaI_1a, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section8_dias_1a, class: 'form-control'%></td>
  					<td><%= f.date_select :section9_fechaI_1a, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section9_dias_1a, class: 'form-control'%></td>
  					<td><%= f.date_select :section10_fechaI_1a, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section10_dias_1a, class: 'form-control'%></td>
  					<td><%= f.date_select :section11_fechaI_1a, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section11_dias_1a, class: 'form-control'%></td>
  					<td><%= f.date_select :section12_fechaI_1a, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section12_dias_1a, class: 'form-control'%></td>
					</tr>
					<tr><td>&nbsp;</td></tr>
          <tr>
  					<td>Acción</td>
  					<td>&nbsp 1.2 &nbsp <%= @proposal.action_1b %></td>
  					<td><%= f.number_field :times_action_1b, class: 'form-control'%></td>
  					<td><%= f.date_select :section1_fechaI_1b, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section1_dias_1b, class: 'form-control'%></td>
  					<td><%= f.date_select :section2_fechaI_1b, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section2_dias_1b, class: 'form-control'%></td>
  					<td><%= f.date_select :section2_fechaI_1b, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section3_dias_1b, class: 'form-control'%></td>
  					<td><%= f.date_select :section3_fechaI_1b, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section4_dias_1b, class: 'form-control'%></td>
  					<td><%= f.date_select :section4_fechaI_1b, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section5_dias_1b, class: 'form-control'%></td>
  					<td><%= f.date_select :section5_fechaI_1b, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section6_dias_1b, class: 'form-control'%></td>
  					<td><%= f.date_select :section6_fechaI_1b, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section7_dias_1b, class: 'form-control'%></td>
  					<td><%= f.date_select :section7_fechaI_1b, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section8_dias_1b, class: 'form-control'%></td>
  					<td><%= f.date_select :section8_fechaI_1b, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section9_dias_1b, class: 'form-control'%></td>
  					<td><%= f.date_select :section9_fechaI_1b, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section10_dias_1b, class: 'form-control'%></td>
  					<td><%= f.date_select :section10_fechaI_1b, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section11_dias_1b, class: 'form-control'%></td>
  					<td><%= f.date_select :section12_fechaI_1b, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section12_dias_1b, class: 'form-control'%></td>
					</tr>
					<tr><td>&nbsp;</td></tr>
          <tr>
  					<td>Acción</td>
  					<td>&nbsp 1.3 &nbsp <%= @proposal.action_1c %></td>
  					<td><%= f.number_field :times_action_1c, class: 'form-control'%></td>
  					<td><%= f.date_select :section1_fechaI_1b, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section1_dias_1b, class: 'form-control'%></td>
  					<td><%= f.date_select :section2_fechaI_1b, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section2_dias_1b, class: 'form-control'%></td>
  					<td><%= f.date_select :section3_fechaI_1b, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section3_dias_1b, class: 'form-control'%></td>
  					<td><%= f.date_select :section4_fechaI_1b, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section4_dias_1b, class: 'form-control'%></td>
  					<td><%= f.date_select :section5_fechaI_1b, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section5_dias_1b, class: 'form-control'%></td>
  					<td><%= f.date_select :section6_fechaI_1b, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section6_dias_1b, class: 'form-control'%></td>
  					<td><%= f.date_select :section7_fechaI_1b, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section7_dias_1b, class: 'form-control'%></td>
  					<td><%= f.date_select :section8_fechaI_1b, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section8_dias_1b, class: 'form-control'%></td>
  					<td><%= f.date_select :section9_fechaI_1b, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section9_dias_1b, class: 'form-control'%></td>
  					<td><%= f.date_select :section10_fechaI_1b, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section10_dias_1b, class: 'form-control'%></td>
  					<td><%= f.date_select :section11_fechaI_1b, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section11_dias_1b, class: 'form-control'%></td>
  					<td><%= f.date_select :section12_fechaI_1b, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section12_dias_1b, class: 'form-control'%></td>
					</tr>
					<tr><td>&nbsp;</td></tr>
          <tr>
  					<td>Acción</td>
  					<td>&nbsp 2.1 &nbsp <%= @proposal.action_2a %></td>
  					<td><%= f.number_field :times_action_2a, class: 'form-control'%></td>
  					<td><%= f.date_select :section1_fechaI_2a, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section1_dias_2a, class: 'form-control'%></td>
  					<td><%= f.date_select :section2_fechaI_2a, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section2_dias_2a, class: 'form-control'%></td>
  					<td><%= f.date_select :section3_fechaI_2a, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section3_dias_2a, class: 'form-control'%></td>
  					<td><%= f.date_select :section4_fechaI_2a, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section4_dias_2a, class: 'form-control'%></td>
  					<td><%= f.date_select :section5_fechaI_2a, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section5_dias_2a, class: 'form-control'%></td>
  					<td><%= f.date_select :section6_fechaI_2a, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section6_dias_2a, class: 'form-control'%></td>
  					<td><%= f.date_select :section7_fechaI_2a, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section7_dias_2a, class: 'form-control'%></td>
  					<td><%= f.date_select :section8_fechaI_2a, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section8_dias_2a, class: 'form-control'%></td>
  					<td><%= f.date_select :section9_fechaI_2a, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section9_dias_2a, class: 'form-control'%></td>
  					<td><%= f.date_select :section10_fechaI_2a, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section10_dias_2a, class: 'form-control'%></td>
  					<td><%= f.date_select :section11_fechaI_2a, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section11_dias_2a, class: 'form-control'%></td>
  					<td><%= f.date_select :section12_fechaI_2a, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section12_dias_2a, class: 'form-control'%></td>
					</tr>
					<tr><td>&nbsp;</td></tr>
          <tr>
  					<td>Acción</td>
  					<td>&nbsp 2.2 &nbsp <%= @proposal.action_2b %></td>
  					<td><%= f.number_field :times_action_2b, class: 'form-control'%></td>
  					<td><%= f.date_select :section1_fechaI_2b, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section1_dias_2b, class: 'form-control'%></td>
  					<td><%= f.date_select :section2_fechaI_2b, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section2_dias_2b, class: 'form-control'%></td>
  					<td><%= f.date_select :section3_fechaI_2b, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section3_dias_2b, class: 'form-control'%></td>
  					<td><%= f.date_select :section4_fechaI_2b, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section4_dias_2b, class: 'form-control'%></td>
  					<td><%= f.date_select :section5_fechaI_2b, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section5_dias_2b, class: 'form-control'%></td>
  					<td><%= f.date_select :section6_fechaI_2b, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section6_dias_2b, class: 'form-control'%></td>
  					<td><%= f.date_select :section7_fechaI_2b, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section7_dias_2b, class: 'form-control'%></td>
  					<td><%= f.date_select :section8_fechaI_2b, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section8_dias_2b, class: 'form-control'%></td>
  					<td><%= f.date_select :section9_fechaI_2b, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section9_dias_2b, class: 'form-control'%></td>
  					<td><%= f.date_select :section10_fechaI_2b, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section10_dias_2b, class: 'form-control'%></td>
  					<td><%= f.date_select :section11_fechaI_2b, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section11_dias_2b, class: 'form-control'%></td>
  					<td><%= f.date_select :section12_fechaI_2b, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section12_dias_2b, class: 'form-control'%></td>
					</tr>
					<tr><td>&nbsp;</td></tr>
          <tr>
  					<td>Acción</td>
  					<td>&nbsp 2.3 &nbsp <%= @proposal.action_2c %></td>
  					<td><%= f.number_field :times_action_2c, class: 'form-control'%></td>
  					<td><%= f.date_select :section1_fechaI_2c, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section1_dias_2c, class: 'form-control'%></td>
  					<td><%= f.date_select :section2_fechaI_2c, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section2_dias_2c, class: 'form-control'%></td>
  					<td><%= f.date_select :section3_fechaI_2c, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section3_dias_2c, class: 'form-control'%></td>
  					<td><%= f.date_select :section4_fechaI_2c, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section4_dias_2c, class: 'form-control'%></td>
  					<td><%= f.date_select :section5_fechaI_2c, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section5_dias_2c, class: 'form-control'%></td>
  					<td><%= f.date_select :section6_fechaI_2c, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section6_dias_2c, class: 'form-control'%></td>
  					<td><%= f.date_select :section7_fechaI_2c, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section7_dias_2c, class: 'form-control'%></td>
  					<td><%= f.date_select :section8_fechaI_2c, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section8_dias_2c, class: 'form-control'%></td>
  					<td><%= f.date_select :section9_fechaI_2c, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section9_dias_2c, class: 'form-control'%></td>
  					<td><%= f.date_select :section10_fechaI_2c, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section10_dias_2c, class: 'form-control'%></td>
  					<td><%= f.date_select :section11_fechaI_2c, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section11_dias_2c, class: 'form-control'%></td>
  					<td><%= f.date_select :section12_fechaI_2c, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section12_dias_2c, class: 'form-control'%></td>
					</tr>
					<tr><td>&nbsp;</td></tr>
          <tr>
  					<td>Acción</td>
  					<td>&nbsp 3.1 &nbsp <%= @proposal.action_3a %></td>
  					<td><%= f.number_field :times_action_3a, class: 'form-control'%></td>
  					<td><%= f.date_select :section1_fechaI_3a, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section1_dias_3a, class: 'form-control'%></td>
  					<td><%= f.date_select :section2_fechaI_3a, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section2_dias_3a, class: 'form-control'%></td>
  					<td><%= f.date_select :section3_fechaI_3a, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section3_dias_3a, class: 'form-control'%></td>
  					<td><%= f.date_select :section4_fechaI_3a, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section4_dias_3a, class: 'form-control'%></td>
  					<td><%= f.date_select :section5_fechaI_3a, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section5_dias_3a, class: 'form-control'%></td>
  					<td><%= f.date_select :section6_fechaI_3a, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section6_dias_3a, class: 'form-control'%></td>
  					<td><%= f.date_select :section7_fechaI_3a, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section7_dias_3a, class: 'form-control'%></td>
  					<td><%= f.date_select :section8_fechaI_3a, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section8_dias_3a, class: 'form-control'%></td>
  					<td><%= f.date_select :section9_fechaI_3a, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section9_dias_3a, class: 'form-control'%></td>
  					<td><%= f.date_select :section10_fechaI_3a, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section10_dias_3a, class: 'form-control'%></td>
  					<td><%= f.date_select :section11_fechaI_3a, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section11_dias_3a, class: 'form-control'%></td>
  					<td><%= f.date_select :section12_fechaI_3a, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section12_dias_3a, class: 'form-control'%></td>
					</tr>
					<tr><td>&nbsp;</td></tr>
          <tr>
  					<td>Acción</td>
  					<td>&nbsp 3.2 &nbsp <%= @proposal.action_3b %></td>
  					<td><%= f.number_field :times_action_3b, class: 'form-control'%></td>
  					<td><%= f.date_select :section1_fechaI_3b, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section1_dias_3b, class: 'form-control'%></td>
  					<td><%= f.date_select :section2_fechaI_3b, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section2_dias_3b, class: 'form-control'%></td>
  					<td><%= f.date_select :section3_fechaI_3b, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section3_dias_3b, class: 'form-control'%></td>
  					<td><%= f.date_select :section4_fechaI_3b, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section4_dias_3b, class: 'form-control'%></td>
  					<td><%= f.date_select :section5_fechaI_3b, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section5_dias_3b, class: 'form-control'%></td>
  					<td><%= f.date_select :section6_fechaI_3b, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section6_dias_3b, class: 'form-control'%></td>
  					<td><%= f.date_select :section7_fechaI_3b, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section7_dias_3b, class: 'form-control'%></td>
  					<td><%= f.date_select :section8_fechaI_3b, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section8_dias_3b, class: 'form-control'%></td>
  					<td><%= f.date_select :section9_fechaI_3b, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section9_dias_3b, class: 'form-control'%></td>
  					<td><%= f.date_select :section10_fechaI_3b, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section10_dias_3b, class: 'form-control'%></td>
  					<td><%= f.date_select :section11_fechaI_3b, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section11_dias_3b, class: 'form-control'%></td>
  					<td><%= f.date_select :section12_fechaI_3b, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section12_dias_3b, class: 'form-control'%></td>
					</tr>
					<tr><td>&nbsp;</td></tr>
          <tr>
  					<td>Acción</td>
  					<td>&nbsp 3.3 &nbsp <%= @proposal.action_3c %></td>
  					<td><%= f.number_field :times_action_3c, class: 'form-control'%></td>
  					<td><%= f.date_select :section1_fechaI_3c, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section1_dias_3c, class: 'form-control'%></td>
  					<td><%= f.date_select :section2_fechaI_3c, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section2_dias_3c, class: 'form-control'%></td>
  					<td><%= f.date_select :section3_fechaI_3c, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section3_dias_3c, class: 'form-control'%></td>
  					<td><%= f.date_select :section4_fechaI_3c, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section4_dias_3c, class: 'form-control'%></td>
  					<td><%= f.date_select :section5_fechaI_3c, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section5_dias_3c, class: 'form-control'%></td>
  					<td><%= f.date_select :section6_fechaI_3c, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section6_dias_3c, class: 'form-control'%></td>
  					<td><%= f.date_select :section7_fechaI_3c, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section7_dias_3c, class: 'form-control'%></td>
  					<td><%= f.date_select :section8_fechaI_3c, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section8_dias_3c, class: 'form-control'%></td>
  					<td><%= f.date_select :section9_fechaI_3c, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section9_dias_3c, class: 'form-control'%></td>
  					<td><%= f.date_select :section10_fechaI_3c, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section10_dias_3c, class: 'form-control'%></td>
  					<td><%= f.date_select :section11_fechaI_3c, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section11_dias_3c, class: 'form-control'%></td>
  					<td><%= f.date_select :section12_fechaI_3c, {use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], start_year: 2017, end_year: 2017} %>
  					<td><%= f.number_field :section12_dias_3c, class: 'form-control'%></td>
					</tr>
				</tbody>
			</table>
		<div class="pull-right">
      <br><br>
      <%= f.submit "Guardar", class: "btn btn-primary" %>
      <%= link_to "Siguiente", methodologies_proposal_path(@proposal), class: "btn btn-default" %> 
      <br>
      <br>
      <br>
    </div>
  <% end %>
<br>
<br>
<br>