<div class="text-center" style="height: 100%;">
  <iframe src="http://premiofilantropia.brijex.co/assets/convocatoria-420e7668ebf1070834d6d853b60dccd5c89aa4542f209c0f8a9b91ed376d6250.pdf" style="width: 80%; height: 90%;" frameborder="0"></iframe>
  
</div>

