<%= javascript_include_tag 'resource' %>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-xs-12 col-md-offset-2">
      <h3>
        Acciones:
      </h3>
      <h4>
        Instrucciones : <br>
        Para esta tabla únicamente se considerarán los conceptos que requieran recursos de la bolsa del Premio a la Filantropía. <br>
        ●Seleccionar de la columna "Clasificación" 1 de las 4 opciones: Construcción u obra civil, Equipamiento y materiales, Honorarios, Otra. <br>
        ●Pueden hasta 5 conceptos por acción. <br>
        ●Se recomienda realizar 3 cotizaciones de cada concepto. Todos Los archivos de las cotizaciones deben de ser enviadas en un solo archivo zip . <br>
        ●El costo de cada concepto será como se muestre en las cotizaciones del proveedor incluyendo todos los impuestos correspondientes y expresado en Moneda Nacional. <br>
        ●En “Proveedor Seleccionado”  y “Costo Seleccionado” se indicará el nombre y el costo del proveedor con el que se adquirirá el producto y/o servicio. <br>
        ●En la columna “Semana de inicio” se indicará el # de semana en que iniciara la acción y en “Semana de término” el # de semana en que se termina la acción

      </h4>
      <hr>
        <% flash.each do |message_type, message| %>
          <div class="text-center alert alert-dismissible alert-<%= message_type %>">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%= message %>
          </div>
        <% end %>
        <br>
        Sube aquí tu archivo en zip que contenga las cotizaciones que has realizado.
        <br>
        <br>
        <%= form_for(@proyect, url: zipfile_update_proyect_path(@proyect)) do |f| %>

          <%= f.file_field :zipfile, placeholder: "logo", class: "form-control" %>
          <br>
          <%= f.submit "Subir", class: "btn btn-primary" %>
        <% end %>
      <hr>
    </div>
    
  </div>
</div>
  <%= form_for(@resource) do |f| %>
    <table>
      <thead>
      <tr>
        <th colspan="2">Calendario de actividades 2015</th>
        <th>Concepto</th>
        <th>Clasificación</th>
        <th>Nombre Proveedor 1</th>
        <th>Costo 1</th>
        <th>Nombre Proveedor 2</th>
        <th>Costo 2</th>
        <th>Nombre Proveedor 3</th>
        <th>Costo 3</th>
        <th>Proveedor Seleccionado</th>
        <th>Costo Seleccionado</th>
        <th>Total de recurso por acción</th>
        <th>Semana Inicio</th>
        <th>Semana Termino</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td rowspan="5">Acción</td>
        <td rowspan="5">&nbsp 1.1 &nbsp <%= @proposal.action_1a %></td>
        <td><%= f.text_field :concept1_action_1a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.select :clasif1_action_1a, options_for_select(Resource::SELECT_CLASIF.map {|opt| opt}, @resource.clasif1_action_1a), {include_blank: true}, {class: "form-control"} %></td>
        <td><%= f.text_field :name1_prov1_action_1a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost1_action1_1a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name2_prov1_action_1a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost2_action1_1a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name3_prov1_action_1a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost3_action1_1a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :selection_prov1_action_1a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :selection_cost_action1_1a, {maxlength: 30, class: 'form-control'}%></td>
        <td rowspan="5"><%= f.number_field :total_cost_action_1a, {maxlength: 30, class: 'form-control'}%></td>
        <td rowspan="5"><%= f.number_field :week_init_action_1a, {maxlength: 30, class: 'form-control'}%></td>
        <td rowspan="5"><%= f.number_field :week_fin_action_1a, {maxlength: 30, class: 'form-control'}%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept2_action_1a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.select :clasif2_action_1a, options_for_select(Resource::SELECT_CLASIF.map {|opt| opt}, @resource.clasif2_action_1a), {include_blank: true}, {class: "form-control"} %></td>
        <td><%= f.text_field :name1_prov2_action_1a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost1_action2_1a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name2_prov2_action_1a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost2_action2_1a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name3_prov2_action_1a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost3_action2_1a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :selection_prov2_action_1a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :selection_cost_action2_1a, {maxlength: 30, class: 'form-control'}%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept3_action_1a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.select :clasif3_action_1a, options_for_select(Resource::SELECT_CLASIF.map {|opt| opt}, @resource.clasif3_action_1a), {include_blank: true}, {class: "form-control"} %></td>
        <td><%= f.text_field :name1_prov3_action_1a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost1_action3_1a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name2_prov3_action_1a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost2_action3_1a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name3_prov3_action_1a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost3_action3_1a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :selection_prov3_action_1a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :selection_cost_action3_1a, {maxlength: 30, class: 'form-control'}%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept4_action_1a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.select :clasif4_action_1a, options_for_select(Resource::SELECT_CLASIF.map {|opt| opt}, @resource.clasif4_action_1a), {include_blank: true}, {class: "form-control"} %></td>
        <td><%= f.text_field :name1_prov4_action_1a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost1_action4_1a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name2_prov4_action_1a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost2_action4_1a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name3_prov4_action_1a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost3_action4_1a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :selection_prov4_action_1a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :selection_cost_action4_1a, {maxlength: 30, class: 'form-control'}%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept5_action_1a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.select :clasif5_action_1a, options_for_select(Resource::SELECT_CLASIF.map {|opt| opt}, @resource.clasif5_action_1a), {include_blank: true}, {class: "form-control"} %></td>
        <td><%= f.text_field :name1_prov5_action_1a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost1_action5_1a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name2_prov5_action_1a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost2_action5_1a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name3_prov5_action_1a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost3_action5_1a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :selection_prov5_action_1a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :selection_cost_action5_1a, {maxlength: 30, class: 'form-control'}%></td>
      </tr>
      <tr>
        <td rowspan="5">Acción</td>
        <td rowspan="5">&nbsp 1.2 &nbsp <%= @proposal.action_1b %></td>
        <td><%= f.text_field :concept1_action_1b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.select :clasif1_action_1b, options_for_select(Resource::SELECT_CLASIF.map {|opt| opt}, @resource.clasif1_action_1b), {include_blank: true}, {class: "form-control"} %></td>
        <td><%= f.text_field :name1_prov1_action_1b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost1_action1_1b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name2_prov1_action_1b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost2_action1_1b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name3_prov1_action_1b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost3_action1_1b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :selection_prov1_action_1b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :selection_cost_action1_1b, {maxlength: 30, class: 'form-control'}%></td>
        <td rowspan="5"><%= f.number_field :total_cost_action_1b, {maxlength: 30, class: 'form-control'}%></td>
        <td rowspan="5"><%= f.number_field :week_init_action_1b, {maxlength: 30, class: 'form-control'}%></td>
        <td rowspan="5"><%= f.number_field :week_fin_action_1b, {maxlength: 30, class: 'form-control'}%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept2_action_1b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.select :clasif2_action_1b, options_for_select(Resource::SELECT_CLASIF.map {|opt| opt}, @resource.clasif2_action_1b), {include_blank: true}, {class: "form-control"} %></td>
        <td><%= f.text_field :name1_prov2_action_1b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost1_action2_1b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name2_prov2_action_1b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost2_action2_1b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name3_prov2_action_1b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost3_action2_1b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :selection_prov2_action_1b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :selection_cost_action2_1b, {maxlength: 30, class: 'form-control'}%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept3_action_1b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.select :clasif3_action_1b, options_for_select(Resource::SELECT_CLASIF.map {|opt| opt}, @resource.clasif3_action_1b), {include_blank: true}, {class: "form-control"} %></td>
        <td><%= f.text_field :name1_prov3_action_1b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost1_action3_1b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name2_prov3_action_1b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost2_action3_1b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name3_prov3_action_1b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost3_action3_1b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :selection_prov3_action_1b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :selection_cost_action3_1b, {maxlength: 30, class: 'form-control'}%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept4_action_1b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.select :clasif4_action_1b, options_for_select(Resource::SELECT_CLASIF.map {|opt| opt}, @resource.clasif4_action_1b), {include_blank: true}, {class: "form-control"} %></td>
        <td><%= f.text_field :name1_prov4_action_1b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost1_action4_1b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name2_prov4_action_1b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost2_action4_1b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name3_prov4_action_1b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost3_action4_1b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :selection_prov4_action_1b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :selection_cost_action4_1b, {maxlength: 30, class: 'form-control'}%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept5_action_1b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.select :clasif5_action_1b, options_for_select(Resource::SELECT_CLASIF.map {|opt| opt}, @resource.clasif5_action_1b), {include_blank: true}, {class: "form-control"} %></td>
        <td><%= f.text_field :name1_prov5_action_1b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost1_action5_1b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name2_prov5_action_1b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost2_action5_1b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name3_prov5_action_1b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost3_action5_1b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :selection_prov5_action_1b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :selection_cost_action5_1b, {maxlength: 30, class: 'form-control'}%></td>
      </tr>
      <tr>
        <td rowspan="5">Acción</td>
        <td rowspan="5">&nbsp 1.3 &nbsp <%= @proposal.action_1c %></td>
        <td><%= f.text_field :concept1_action_1c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.select :clasif1_action_1c, options_for_select(Resource::SELECT_CLASIF.map {|opt| opt}, @resource.clasif1_action_1c), {include_blank: true}, {class: "form-control"} %></td>
        <td><%= f.text_field :name1_prov1_action_1c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost1_action1_1c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name2_prov1_action_1c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost2_action1_1c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name3_prov1_action_1c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost3_action1_1c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :selection_prov1_action_1c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :selection_cost_action1_1c, {maxlength: 30, class: 'form-control'}%></td>
        <td rowspan="5"><%= f.number_field :total_cost_action_1c, {maxlength: 30, class: 'form-control'}%></td>
        <td rowspan="5"><%= f.number_field :week_init_action_1c, {maxlength: 30, class: 'form-control'}%></td>
        <td rowspan="5"><%= f.number_field :week_fin_action_1c, {maxlength: 30, class: 'form-control'}%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept2_action_1c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.select :clasif2_action_1c, options_for_select(Resource::SELECT_CLASIF.map {|opt| opt}, @resource.clasif2_action_1c), {include_blank: true}, {class: "form-control"} %></td>
        <td><%= f.text_field :name1_prov2_action_1c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost1_action2_1c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name2_prov2_action_1c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost2_action2_1c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name3_prov2_action_1c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost3_action2_1c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :selection_prov2_action_1c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :selection_cost_action2_1c, {maxlength: 30, class: 'form-control'}%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept3_action_1c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.select :clasif3_action_1c, options_for_select(Resource::SELECT_CLASIF.map {|opt| opt}, @resource.clasif3_action_1c), {include_blank: true}, {class: "form-control"} %></td>
        <td><%= f.text_field :name1_prov3_action_1c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost1_action3_1c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name2_prov3_action_1c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost2_action3_1c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name3_prov3_action_1c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost3_action3_1c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :selection_prov3_action_1c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :selection_cost_action3_1c, {maxlength: 30, class: 'form-control'}%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept4_action_1c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.select :clasif4_action_1c, options_for_select(Resource::SELECT_CLASIF.map {|opt| opt}, @resource.clasif4_action_1c), {include_blank: true}, {class: "form-control"} %></td>
        <td><%= f.text_field :name1_prov4_action_1c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost1_action4_1c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name2_prov4_action_1c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost2_action4_1c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name3_prov4_action_1c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost3_action4_1c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :selection_prov4_action_1c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :selection_cost_action4_1c, {maxlength: 30, class: 'form-control'}%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept5_action_1c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.select :clasif5_action_1c, options_for_select(Resource::SELECT_CLASIF.map {|opt| opt}, @resource.clasif5_action_1c), {include_blank: true}, {class: "form-control"} %></td>
        <td><%= f.text_field :name1_prov5_action_1c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost1_action5_1c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name2_prov5_action_1c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost2_action5_1c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name3_prov5_action_1c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost3_action5_1c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :selection_prov5_action_1c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :selection_cost_action5_1c, {maxlength: 30, class: 'form-control'}%></td>
      </tr>
      <tr>
        <td rowspan="5">Acción</td>
        <td rowspan="5">&nbsp 2.1 &nbsp <%= @proposal.action_2a %></td>
        <td><%= f.text_field :concept1_action_2a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.select :clasif1_action_2a, options_for_select(Resource::SELECT_CLASIF.map {|opt| opt}, @resource.clasif1_action_2a), {include_blank: true}, {class: "form-control"} %></td>
        <td><%= f.text_field :name1_prov1_action_2a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost1_action1_2a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name2_prov1_action_2a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost2_action1_2a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name3_prov1_action_2a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost3_action1_2a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :selection_prov1_action_2a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :selection_cost_action1_2a, {maxlength: 30, class: 'form-control'}%></td>
        <td rowspan="5"><%= f.number_field :total_cost_action_2a, {maxlength: 30, class: 'form-control'}%></td>
        <td rowspan="5"><%= f.number_field :week_init_action_2a, {maxlength: 30, class: 'form-control'}%></td>
        <td rowspan="5"><%= f.number_field :week_fin_action_2a, {maxlength: 30, class: 'form-control'}%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept2_action_2a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.select :clasif2_action_2a, options_for_select(Resource::SELECT_CLASIF.map {|opt| opt}, @resource.clasif2_action_2a), {include_blank: true}, {class: "form-control"} %></td>
        <td><%= f.text_field :name1_prov2_action_2a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost1_action2_2a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name2_prov2_action_2a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost2_action2_2a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name3_prov2_action_2a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost3_action2_2a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :selection_prov2_action_2a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :selection_cost_action2_2a, {maxlength: 30, class: 'form-control'}%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept3_action_2a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.select :clasif3_action_2a, options_for_select(Resource::SELECT_CLASIF.map {|opt| opt}, @resource.clasif3_action_2a), {include_blank: true}, {class: "form-control"} %></td>
        <td><%= f.text_field :name1_prov3_action_2a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost1_action3_2a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name2_prov3_action_2a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost2_action3_2a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name3_prov3_action_2a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost3_action3_2a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :selection_prov3_action_2a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :selection_cost_action3_2a, {maxlength: 30, class: 'form-control'}%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept4_action_2a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.select :clasif4_action_2a, options_for_select(Resource::SELECT_CLASIF.map {|opt| opt}, @resource.clasif4_action_2a), {include_blank: true}, {class: "form-control"} %></td>
        <td><%= f.text_field :name1_prov4_action_2a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost1_action4_2a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name2_prov4_action_2a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost2_action4_2a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name3_prov4_action_2a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost3_action4_2a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :selection_prov4_action_2a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :selection_cost_action4_2a, {maxlength: 30, class: 'form-control'}%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept5_action_2a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.select :clasif5_action_2a, options_for_select(Resource::SELECT_CLASIF.map {|opt| opt}, @resource.clasif5_action_2a), {include_blank: true}, {class: "form-control"} %></td>
        <td><%= f.text_field :name1_prov5_action_2a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost1_action5_2a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name2_prov5_action_2a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost2_action5_2a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name3_prov5_action_2a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost3_action5_2a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :selection_prov5_action_2a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :selection_cost_action5_2a, {maxlength: 30, class: 'form-control'}%></td>
      </tr>
      <tr>
        <td rowspan="5">Acción</td>
        <td rowspan="5">&nbsp 2.2 &nbsp <%= @proposal.action_2b %></td>
        <td><%= f.text_field :concept1_action_2b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.select :clasif1_action_2b, options_for_select(Resource::SELECT_CLASIF.map {|opt| opt}, @resource.clasif1_action_2b), {include_blank: true}, {class: "form-control"} %></td>
        <td><%= f.text_field :name1_prov1_action_2b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost1_action1_2b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name2_prov1_action_2b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost2_action1_2b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name3_prov1_action_2b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost3_action1_2b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :selection_prov1_action_2b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :selection_cost_action1_2b, {maxlength: 30, class: 'form-control'}%></td>
        <td rowspan="5"><%= f.number_field :total_cost_action_2b, {maxlength: 30, class: 'form-control'}%></td>
        <td rowspan="5"><%= f.number_field :week_init_action_2b, {maxlength: 30, class: 'form-control'}%></td>
        <td rowspan="5"><%= f.number_field :week_fin_action_2b, {maxlength: 30, class: 'form-control'}%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept2_action_2b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.select :clasif2_action_2b, options_for_select(Resource::SELECT_CLASIF.map {|opt| opt}, @resource.clasif2_action_2b), {include_blank: true}, {class: "form-control"} %></td>
        <td><%= f.text_field :name1_prov2_action_2b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost1_action2_2b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name2_prov2_action_2b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost2_action2_2b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name3_prov2_action_2b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost3_action2_2b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :selection_prov2_action_2b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :selection_cost_action2_2b, {maxlength: 30, class: 'form-control'}%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept3_action_2b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.select :clasif3_action_2b, options_for_select(Resource::SELECT_CLASIF.map {|opt| opt}, @resource.clasif3_action_2b), {include_blank: true}, {class: "form-control"} %></td>
        <td><%= f.text_field :name1_prov3_action_2b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost1_action3_2b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name2_prov3_action_2b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost2_action3_2b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name3_prov3_action_2b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost3_action3_2b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :selection_prov3_action_2b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :selection_cost_action3_2b, {maxlength: 30, class: 'form-control'}%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept4_action_2b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.select :clasif4_action_2b, options_for_select(Resource::SELECT_CLASIF.map {|opt| opt}, @resource.clasif4_action_2b), {include_blank: true}, {class: "form-control"} %></td>
        <td><%= f.text_field :name1_prov4_action_2b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost1_action4_2b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name2_prov4_action_2b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost2_action4_2b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name3_prov4_action_2b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost3_action4_2b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :selection_prov4_action_2b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :selection_cost_action4_2b, {maxlength: 30, class: 'form-control'}%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept5_action_2b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.select :clasif5_action_2b, options_for_select(Resource::SELECT_CLASIF.map {|opt| opt}, @resource.clasif5_action_2b), {include_blank: true}, {class: "form-control"} %></td>
        <td><%= f.text_field :name1_prov5_action_2b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost1_action5_2b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name2_prov5_action_2b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost2_action5_2b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name3_prov5_action_2b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost3_action5_2b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :selection_prov5_action_2b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :selection_cost_action5_2b, {maxlength: 30, class: 'form-control'}%></td>
      </tr>
      <tr>
        <td rowspan="5">Acción</td>
        <td rowspan="5">&nbsp 2.3 &nbsp <%= @proposal.action_2c %></td>
        <td><%= f.text_field :concept1_action_2c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.select :clasif1_action_2c, options_for_select(Resource::SELECT_CLASIF.map {|opt| opt}, @resource.clasif1_action_2c), {include_blank: true}, {class: "form-control"} %></td>
        <td><%= f.text_field :name1_prov1_action_2c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost1_action1_2c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name2_prov1_action_2c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost2_action1_2c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name3_prov1_action_2c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost3_action1_2c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :selection_prov1_action_2c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :selection_cost_action1_2c, {maxlength: 30, class: 'form-control'}%></td>
        <td rowspan="5"><%= f.number_field :total_cost_action_2c, {maxlength: 30, class: 'form-control'}%></td>
        <td rowspan="5"><%= f.number_field :week_init_action_2c, {maxlength: 30, class: 'form-control'}%></td>
        <td rowspan="5"><%= f.number_field :week_fin_action_2c, {maxlength: 30, class: 'form-control'}%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept2_action_2c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.select :clasif2_action_2c, options_for_select(Resource::SELECT_CLASIF.map {|opt| opt}, @resource.clasif2_action_2c), {include_blank: true}, {class: "form-control"} %></td>
        <td><%= f.text_field :name1_prov2_action_2c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost1_action2_2c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name2_prov2_action_2c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost2_action2_2c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name3_prov2_action_2c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost3_action2_2c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :selection_prov2_action_2c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :selection_cost_action2_2c, {maxlength: 30, class: 'form-control'}%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept3_action_2c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.select :clasif3_action_2c, options_for_select(Resource::SELECT_CLASIF.map {|opt| opt}, @resource.clasif3_action_2c), {include_blank: true}, {class: "form-control"} %></td>
        <td><%= f.text_field :name1_prov3_action_2c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost1_action3_2c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name2_prov3_action_2c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost2_action3_2c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name3_prov3_action_2c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost3_action3_2c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :selection_prov3_action_2c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :selection_cost_action3_2c, {maxlength: 30, class: 'form-control'}%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept4_action_2c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.select :clasif4_action_2c, options_for_select(Resource::SELECT_CLASIF.map {|opt| opt}, @resource.clasif4_action_2c), {include_blank: true}, {class: "form-control"} %></td>
        <td><%= f.text_field :name1_prov4_action_2c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost1_action4_2c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name2_prov4_action_2c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost2_action4_2c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name3_prov4_action_2c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost3_action4_2c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :selection_prov4_action_2c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :selection_cost_action4_2c, {maxlength: 30, class: 'form-control'}%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept5_action_2c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.select :clasif5_action_2c, options_for_select(Resource::SELECT_CLASIF.map {|opt| opt}, @resource.clasif5_action_2c), {include_blank: true}, {class: "form-control"} %></td>
        <td><%= f.text_field :name1_prov5_action_2c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost1_action5_2c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name2_prov5_action_2c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost2_action5_2c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name3_prov5_action_2c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost3_action5_2c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :selection_prov5_action_2c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :selection_cost_action5_2c, {maxlength: 30, class: 'form-control'}%></td>
      </tr>
      <tr>
        <td rowspan="5">Acción</td>
        <td rowspan="5">&nbsp 3.1 &nbsp <%= @proposal.action_3a %></td>
        <td><%= f.text_field :concept1_action_3a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.select :clasif1_action_3a, options_for_select(Resource::SELECT_CLASIF.map {|opt| opt}, @resource.clasif1_action_3a), {include_blank: true}, {class: "form-control"} %></td>
        <td><%= f.text_field :name1_prov1_action_3a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost1_action1_3a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name2_prov1_action_3a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost2_action1_3a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name3_prov1_action_3a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost3_action1_3a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :selection_prov1_action_3a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :selection_cost_action1_3a, {maxlength: 30, class: 'form-control'}%></td>
        <td rowspan="5"><%= f.number_field :total_cost_action_3a, {maxlength: 30, class: 'form-control'}%></td>
        <td rowspan="5"><%= f.number_field :week_init_action_3a, {maxlength: 30, class: 'form-control'}%></td>
        <td rowspan="5"><%= f.number_field :week_fin_action_3a, {maxlength: 30, class: 'form-control'}%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept2_action_3a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.select :clasif2_action_3a, options_for_select(Resource::SELECT_CLASIF.map {|opt| opt}, @resource.clasif2_action_3a), {include_blank: true}, {class: "form-control"} %></td>
        <td><%= f.text_field :name1_prov2_action_3a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost1_action2_3a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name2_prov2_action_3a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost2_action2_3a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name3_prov2_action_3a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost3_action2_3a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :selection_prov2_action_3a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :selection_cost_action2_3a, {maxlength: 30, class: 'form-control'}%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept3_action_3a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.select :clasif3_action_3a, options_for_select(Resource::SELECT_CLASIF.map {|opt| opt}, @resource.clasif3_action_3a), {include_blank: true}, {class: "form-control"} %></td>
        <td><%= f.text_field :name1_prov3_action_3a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost1_action3_3a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name2_prov3_action_3a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost2_action3_3a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name3_prov3_action_3a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost3_action3_3a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :selection_prov3_action_3a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :selection_cost_action3_3a, {maxlength: 30, class: 'form-control'}%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept4_action_3a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.select :clasif4_action_3a, options_for_select(Resource::SELECT_CLASIF.map {|opt| opt}, @resource.clasif4_action_3a), {include_blank: true}, {class: "form-control"} %></td>
        <td><%= f.text_field :name1_prov4_action_3a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost1_action4_3a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name2_prov4_action_3a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost2_action4_3a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name3_prov4_action_3a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost3_action4_3a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :selection_prov4_action_3a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :selection_cost_action4_3a, {maxlength: 30, class: 'form-control'}%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept5_action_3a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.select :clasif5_action_3a, options_for_select(Resource::SELECT_CLASIF.map {|opt| opt}, @resource.clasif5_action_3a), {include_blank: true}, {class: "form-control"} %></td>
        <td><%= f.text_field :name1_prov5_action_3a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost1_action5_3a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name2_prov5_action_3a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost2_action5_3a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name3_prov5_action_3a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost3_action5_3a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :selection_prov5_action_3a, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :selection_cost_action5_3a, {maxlength: 30, class: 'form-control'}%></td>
      </tr>
      <tr>
        <td rowspan="5">Acción</td>
        <td rowspan="5">&nbsp 3.2 &nbsp <%= @proposal.action_3b %></td>
        <td><%= f.text_field :concept1_action_3b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.select :clasif1_action_3b, options_for_select(Resource::SELECT_CLASIF.map {|opt| opt}, @resource.clasif1_action_3b), {include_blank: true}, {class: "form-control"} %></td>
        <td><%= f.text_field :name1_prov1_action_3b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost1_action1_3b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name2_prov1_action_3b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost2_action1_3b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name3_prov1_action_3b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost3_action1_3b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :selection_prov1_action_3b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :selection_cost_action1_3b, {maxlength: 30, class: 'form-control'}%></td>
        <td rowspan="5"><%= f.number_field :total_cost_action_3b, {maxlength: 30, class: 'form-control'}%></td>
        <td rowspan="5"><%= f.number_field :week_init_action_3b, {maxlength: 30, class: 'form-control'}%></td>
        <td rowspan="5"><%= f.number_field :week_fin_action_3b, {maxlength: 30, class: 'form-control'}%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept2_action_3b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.select :clasif2_action_3b, options_for_select(Resource::SELECT_CLASIF.map {|opt| opt}, @resource.clasif2_action_3b), {include_blank: true}, {class: "form-control"} %></td>
        <td><%= f.text_field :name1_prov2_action_3b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost1_action2_3b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name2_prov2_action_3b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost2_action2_3b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name3_prov2_action_3b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost3_action2_3b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :selection_prov2_action_3b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :selection_cost_action2_3b, {maxlength: 30, class: 'form-control'}%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept3_action_3b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.select :clasif3_action_3b, options_for_select(Resource::SELECT_CLASIF.map {|opt| opt}, @resource.clasif3_action_3b), {include_blank: true}, {class: "form-control"} %></td>
        <td><%= f.text_field :name1_prov3_action_3b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost1_action3_3b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name2_prov3_action_3b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost2_action3_3b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name3_prov3_action_3b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost3_action3_3b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :selection_prov3_action_3b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :selection_cost_action3_3b, {maxlength: 30, class: 'form-control'}%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept4_action_3b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.select :clasif4_action_3b, options_for_select(Resource::SELECT_CLASIF.map {|opt| opt}, @resource.clasif4_action_3b), {include_blank: true}, {class: "form-control"} %></td>
        <td><%= f.text_field :name1_prov4_action_3b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost1_action4_3b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name2_prov4_action_3b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost2_action4_3b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name3_prov4_action_3b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost3_action4_3b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :selection_prov4_action_3b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :selection_cost_action4_3b, {maxlength: 30, class: 'form-control'}%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept5_action_3b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.select :clasif5_action_3b, options_for_select(Resource::SELECT_CLASIF.map {|opt| opt}, @resource.clasif5_action_3b), {include_blank: true}, {class: "form-control"} %></td>
        <td><%= f.text_field :name1_prov5_action_3b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost1_action5_3b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name2_prov5_action_3b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost2_action5_3b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name3_prov5_action_3b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost3_action5_3b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :selection_prov5_action_3b, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :selection_cost_action5_3b, {maxlength: 30, class: 'form-control'}%></td>
      </tr>
      <tr>
        <td rowspan="5">Acción</td>
        <td rowspan="5">&nbsp 3.3 &nbsp <%= @proposal.action_3c %></td>
        <td><%= f.text_field :concept1_action_3c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.select :clasif1_action_3c, options_for_select(Resource::SELECT_CLASIF.map {|opt| opt}, @resource.clasif1_action_3c), {include_blank: true}, {class: "form-control"} %></td>
        <td><%= f.text_field :name1_prov1_action_3c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost1_action1_3c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name2_prov1_action_3c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost2_action1_3c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name3_prov1_action_3c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost3_action1_3c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :selection_prov1_action_3c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :selection_cost_action1_3c, {maxlength: 30, class: 'form-control'}%></td>
        <td rowspan="5"><%= f.number_field :total_cost_action_3c, {maxlength: 30, class: 'form-control'}%></td>
        <td rowspan="5"><%= f.number_field :week_init_action_3c, {maxlength: 30, class: 'form-control'}%></td>
        <td rowspan="5"><%= f.number_field :week_fin_action_3c, {maxlength: 30, class: 'form-control'}%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept2_action_3c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.select :clasif2_action_3c, options_for_select(Resource::SELECT_CLASIF.map {|opt| opt}, @resource.clasif2_action_3c), {include_blank: true}, {class: "form-control"} %></td>
        <td><%= f.text_field :name1_prov2_action_3c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost1_action2_3c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name2_prov2_action_3c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost2_action2_3c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name3_prov2_action_3c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost3_action2_3c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :selection_prov2_action_3c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :selection_cost_action2_3c, {maxlength: 30, class: 'form-control'}%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept3_action_3c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.select :clasif3_action_3c, options_for_select(Resource::SELECT_CLASIF.map {|opt| opt}, @resource.clasif3_action_3c), {include_blank: true}, {class: "form-control"} %></td>
        <td><%= f.text_field :name1_prov3_action_3c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost1_action3_3c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name2_prov3_action_3c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost2_action3_3c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name3_prov3_action_3c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost3_action3_3c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :selection_prov3_action_3c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :selection_cost_action3_3c, {maxlength: 30, class: 'form-control'}%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept4_action_3c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.select :clasif4_action_3c, options_for_select(Resource::SELECT_CLASIF.map {|opt| opt}, @resource.clasif4_action_3c), {include_blank: true}, {class: "form-control"} %></td>
        <td><%= f.text_field :name1_prov4_action_3c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost1_action4_3c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name2_prov4_action_3c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost2_action4_3c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name3_prov4_action_3c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost3_action4_3c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :selection_prov4_action_3c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :selection_cost_action4_3c, {maxlength: 30, class: 'form-control'}%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept5_action_3c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.select :clasif5_action_3c, options_for_select(Resource::SELECT_CLASIF.map {|opt| opt}, @resource.clasif5_action_3c), {include_blank: true}, {class: "form-control"} %></td>
        <td><%= f.text_field :name1_prov5_action_3c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost1_action5_3c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name2_prov5_action_3c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost2_action5_3c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :name3_prov5_action_3c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :cost3_action5_3c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.text_field :selection_prov5_action_3c, {maxlength: 30, class: 'form-control'}%></td>
        <td><%= f.number_field :selection_cost_action5_3c, {maxlength: 30, class: 'form-control'}%></td>
      </tr>
      </tbody>
    </table>
    <div class="pull-right">
      <%= f.submit "Guardar", class: "btn btn-primary" %>
      <%= link_to "Siguiente", summary_resource_path(@proposal), class: "btn btn-default" %>
    </div>
<% end %>
<br>
<br>
<br>