<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-xs-12 col-md-offset-2">
      <% flash.each do |message_type, message| %>
        <div class="text-center alert alert-dismissible alert-<%= message_type %>">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= message %>
        </div>
      <% end %>
      <h1 class="text-center">Resumen de Proyecto</h1>
      <hr>
      <div class="row">
        <div class="col-md-5">
          Nombre de la AC
        </div>
        <div class="col-md-7">
          <%= current_user.ac_name %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Nombre de contacto
        </div>
        <div class="col-md-7">
          <%= current_user.name %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Cargo de contacto
        </div>
        <div class="col-md-7">
          <%= current_user.charge %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Dirección
        </div>
        <div class="col-md-7">
          <%= current_user.address %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Misión y Visión
        </div>
        <div class="col-md-7">
          <%= current_user.mission_vision %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Años en operación
        </div>
        <div class="col-md-7">
          <%= current_user.yr_operation %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Programas que ofrecen
        </div>
        <div class="col-md-7">
          <%= current_user.programs_offered %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Logros          
        </div>
        <div class="col-md-7">
          <%= current_user.achievements %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Temática a participar
        </div>
        <div class="col-md-7">
          <%= Proyect::READ_TOPIC[@proyect.topic] %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          ¿Es una petición para mejorar un programa ya existente o es un proyecto o programa nuevo?
        </div>
        <div class="col-md-7">
          <%= Proyect::READ_EXISTENT_NEW[@proyect.existent_new] %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Logros          
        </div>
        <div class="col-md-7">
          <%= current_user.achievements %>
        </div>
      </div>

      <% if !@proyect.is_new? %>
        <h3>Justificación para petición</h3>
        <h4>¿Por qué es importante esta mejora para el programa o proyecto descrito?</h4>

        <div class="row">
          <div class="col-md-5">
            Aumentar la capacidad de atención de beneficiarios en los programas o servicios actuales. Si/No
          </div>
          <div class="col-md-7">
            <%= @proyect.improvement_importance_a %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            Mejora la calidad de atención ¿cómo?
          </div>
          <div class="col-md-7">
            <%= @proyect.improvement_importance_b %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            Mejoró mi operación interna ¿Cómo?
          </div>
          <div class="col-md-7">
            <%= @proyect.improvement_importance_c %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            Generó un ahorro a mis gastos ¿cómo, mediante qué acciones y metodología?, ¿cuánto, qué cantidad?
          </div>
          <div class="col-md-7">
            <%= @proyect.improvement_importance_d %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            Generó un ingreso nuevo ¿cómo, mediante qué acciones y metodología?, ¿cuánto, qué cantidad? ¿Quién es mi cliente? ¿cómo tengo seguro que sea mi cliente?
          </div>
          <div class="col-md-7">
            <%= @proyect.improvement_importance_e %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            Otro. ¿Cuál?
          </div>
          <div class="col-md-7">
            <%= @proyect.improvement_importance_f %>
          </div>
        </div>
        <h3>Objetivo General y Específico</h3>
        <div class="row">
          <div class="col-md-5">
            ¿Qué estas pidiendo? Descripción de conceptos o actividad principal redactada en ar, er, ir
          </div>
          <div class="col-md-7">
            <%= @proyect.col_211_a %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5">
            Para mejorar ¿qué proyecto/ programa o servicio? ¿Qué ofrece este programa o servicio?
          </div>
          <div class="col-md-7">
            <%= @proyect.col_211_b %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            ¿Cuánto tiempo tienes operando el proyecto/programa u ofreciendo el servicio?
          </div>
          <div class="col-md-7">
            <%= @proyect.col_211_c %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            ¿Cómo vas a mejorar el proyecto/programa o servicio? ¿cuál es la situación actual  y cómo va a ser diferente después de la implementación de esta mejora?
          </div>
          <div class="col-md-7">
            <%= @proyect.col_211_d %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            ¿Cómo vas a medir esa mejora?, ¿en cuánto tiempo?
          </div>
          <div class="col-md-7">
            <%= @proyect.col_211_e %>
          </div>
        </div>






      <% else %>
        <h3>Justificación (PROGRAMA / PROPUESTA NUEVA)</h3>
        <div class="row">
          <div class="col-md-5">
            ¿De dónde surge la idea?
          </div>
          <div class="col-md-7">
            <%= Proyect::READ_IDEA_EMERGE[@proyect.idea_emerge] %>
            <%= ": " + @proyect.idea_emerge_exp if @proyect.idea_emerge == 2 %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            Otro. ¿Cuál?
          </div>
          <div class="col-md-7">
            <%= @proyect.improvement_importance_f %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            El proyecto forma parte de una necesidad detectada en la comunidad. Se llevó a cabo:
          </div>
          <div class="col-md-7">
            <%= Proyect::READ_PROCEDURE_TAKEN[@proyect.procedure_taken] %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            ¿Por qué es importante este proyecto o programa para la organización?
          </div>
          <div class="col-md-7">
            <%= Proyect::READ_IMPORTANCE[@proyect.importance.to_i] %>
          </div>
        </div>
        <h3>
          Objetivo general (programa Nuevo)
        </h3>
        <div class="row">
          <div class="col-md-5">
            ¿Cuál es la actividad principal que vas a emprender? Actividad principal redactada en ar, er, ir
          </div>
          <div class="col-md-7">
            <%= @proyect.col_212_a %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            ¿Para cambiar qué situación?
          </div>
          <div class="col-md-7">
            <%= @proyect.col_212_b %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            ¿Obtener qué beneficio? ¿Cuál es el principal beneficio que vas a lograr?
          </div>
          <div class="col-md-7">
            <%= @proyect.col_212_c %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            ¿Para quienes? Mujeres, niños, edad, discapacitados
          </div>
          <div class="col-md-7">
            <%= @proyect.col_212_d %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            ¿En dónde? Municipio, colonia.
          </div>
          <div class="col-md-7">
            <%= @proyect.col_212_e %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            ¿Cómo? A través de capacitación, consultas, equipar, etc.
          </div>
          <div class="col-md-7">
            <%= @proyect.col_212_f %>
          </div>
        </div>
      <% end %>
      <h3>Objetivos Específicos</h3>
      <div class="row">
        <br>
        <div class="col-md-5">
          <b>Objetivo Específico 1</b>
        </div>
        <div class="col-md-7">
          <%= @proyect.col_oe1 %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Actividad secundaria o derivada en ar, er, ir
        </div>
        <div class="col-md-7">
          <%= @proyect.col_oe1_a %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          ¿Cuál es el principal beneficio que vas a lograr?
        </div>
        <div class="col-md-7">
          <%= @proyect.col_oe1_b %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          ¿Para quienes? Mujeres, niños, edad, discapacitados
        </div>
        <div class="col-md-7">
          <%= @proyect.col_oe1_c %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          ¿En dónde? Municipio, colonia
        </div>
        <div class="col-md-7">
          <%= @proyect.col_oe1_d %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          ¿Cómo? A través de capacitación, consultas, equipar, etc.
        </div>
        <div class="col-md-7">
          <%= @proyect.col_oe1_e %>
        </div>
      </div>

      <div class="row">
        <br>
        <div class="col-md-5">
          <b>Objetivo Específico 2</b>
        </div>
        <div class="col-md-7">
          <%= @proyect.col_oe2 %>
        </div>
      </div>
      <% if @proyect.col_oe2_a != "" %>
        <div class="row">
          <div class="col-md-5">
            Actividad secundaria o derivada en ar, er, ir
          </div>
          <div class="col-md-7">
            <%= @proyect.col_oe2_a %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            ¿Cuál es el principal beneficio que vas a lograr?
          </div>
          <div class="col-md-7">
            <%= @proyect.col_oe2_b %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            ¿Para quienes? Mujeres, niños, edad, discapacitados
          </div>
          <div class="col-md-7">
            <%= @proyect.col_oe2_c %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            ¿En dónde? Municipio, colonia
          </div>
          <div class="col-md-7">
            <%= @proyect.col_oe2_d %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            ¿Cómo? A través de capacitación, consultas, equipar, etc.
          </div>
          <div class="col-md-7">
            <%= @proyect.col_oe2_e %>
          </div>
        </div>
      <% end %>
      <% if @proyect.col_oe3_a != "" %>

        <div class="row">
          <br>
          <div class="col-md-5">
            <b>Objetivo Específico 3</b>
          </div>
          <div class="col-md-7">
            <%= @proyect.col_oe3 %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            Actividad secundaria o derivada en ar, er, ir
          </div>
          <div class="col-md-7">
            <%= @proyect.col_oe3_a %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            ¿Cuál es el principal beneficio que vas a lograr?
          </div>
          <div class="col-md-7">
            <%= @proyect.col_oe3_b %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            ¿Para quienes? Mujeres, niños, edad, discapacitados
          </div>
          <div class="col-md-7">
            <%= @proyect.col_oe3_c %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            ¿En dónde? Municipio, colonia
          </div>
          <div class="col-md-7">
            <%= @proyect.col_oe3_d %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            ¿Cómo? A través de capacitación, consultas, equipar, etc.
          </div>
          <div class="col-md-7">
            <%= @proyect.col_oe3_e %>
          </div>
        </div>
      <% end %>

      <hr>
      <h3>Beneficiarios</h3>
      <% @proyect.recipients.each do |recipient| %>
        <div class="row">
          <div class="col-md-5">
            Grupo de beneficiarios
          </div>
          <div class="col-md-7">
            <%= Proyect::READ_BENEF_GROUP[recipient.ben_group] %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            Desde
          </div>
          <div class="col-md-7">
            <%= recipient.ben_age_range %> años
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            Hasta
          </div>
          <div class="col-md-7">
            <%= recipient.ben_age_range2 %> años.
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            Situación de riesgo
          </div>
          <div class="col-md-7">
            <%= Proyect::READ_BENEF_RISK[recipient.ben_risk] %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            Número de beneficiarios
          </div>
          <div class="col-md-7">
            <%= recipient.ben_number %>
          </div>
        </div>
        <br>
      <% end %>
      <h4>
        De <%= @proyect.beneficiarios %> beneficiarios, <%= @proyect.ben_part_eventual %> son eventuales y <%= @proyect.ben_part_regular %> son regulares.
      </h4>
      <hr>
      <h3>Conceptos resumidos y monto total de la inversión solicitada</h3>
      <div class="row">
        <div class="col-md-5">
          Aportaciones monetarias:
        </div>
        <div class="col-md-7">
          <%= number_to_currency @proyect.investment_a %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Construcción u obra civil:
        </div>
        <div class="col-md-7">
          <%= number_to_currency @proyect.investment_b %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Equipamiento y materiales:
        </div>
        <div class="col-md-7">
          <%= number_to_currency @proyect.investment_c %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Honorarios:
        </div>
        <div class="col-md-7">
          <%= number_to_currency @proyect.investment_d %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Otro concepto:
        </div>
        <div class="col-md-7">
          <%= number_to_currency @proyect.investment_e %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Otras aportaciones ‘en especie’ puede ser tiempo:
        </div>
        <div class="col-md-7">
          <%= number_to_currency @proyect.investment_f %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Total:
        </div>
        <div class="col-md-7">
          <%= number_to_currency @proyect.investment_sum %>
        </div>
      </div>
      <hr>
      <h3>Tiempo total de implementación del proyecto en semanas:</h3>
      <div class="row">
        <div class="col-md-5">
          Total de semanas:
        </div>
        <div class="col-md-7">
          <%= @proyect.total_weeks %>
        </div>
      </div>

      
      <!-- ......... -->
      <h3>Continuidad del Proyecto</h3>
      <h4>Objetivo específico 1</h4>
      <div class="row">
        <div class="col-md-5">
          Acción          
        </div>
        <div class="col-md-7">
          <%= @proyect.col_continuity_action1 %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Indicador          
        </div>
        <div class="col-md-7">
          <%= @proyect.col_continuity_indicator1 %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Responsable          
        </div>
        <div class="col-md-7">
          <%= @proyect.col_continuity_responsible1 %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-5">
          Acción          
        </div>
        <div class="col-md-7">
          <%= @proyect.col_continuity_action2 %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Indicador          
        </div>
        <div class="col-md-7">
          <%= @proyect.col_continuity_indicator2 %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Responsable          
        </div>
        <div class="col-md-7">
          <%= @proyect.col_continuity_responsible2 %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-5">
          Acción          
        </div>
        <div class="col-md-7">
          <%= @proyect.col_continuity_action3 %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Indicador          
        </div>
        <div class="col-md-7">
          <%= @proyect.col_continuity_indicator3 %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Responsable          
        </div>
        <div class="col-md-7">
          <%= @proyect.col_continuity_responsible3 %>
        </div>
      </div>


      
      
    </div> <!-- end col-md-10 col-xs-12 col-md-offset-2 -->

  </div> <!-- end main row -->
</div> <!-- end container -->

<br>
<br>
<br>

<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-xs-12 col-md-offset-2">
      <% flash.each do |message_type, message| %>
          <div class="text-center alert alert-dismissible alert-<%= message_type %>">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%= message %>
          </div>
      <% end %>
      <hr>
    </div> <!-- end col-md-10 col-xs-12 col-md-offset-2 -->
    
    <div class="col-md-12">
      <!-- SECTIONS -->
      <div class="row">
        <table>
          <thead>
            <tr>
              <th colspan="2">Calendario de actividades 2017</th> 
              <th> ¿Cuántas veces se realiza la acción en el año?</th> 
              <th colspan="2">Evento 1</th>
              <th colspan="2">Evento 2</th>
              <th colspan="2">Evento 3</th>
              <th colspan="2">Evento 4</th>
              <th colspan="2">Evento 5</th>
              <th colspan="2">Evento 6</th>
              <th colspan="2">Evento 7</th>
              <th colspan="2">Evento 8</th>
              <th colspan="2">Evento 9</th>
              <th colspan="2">Evento 10</th>
              <th colspan="2">Evento 11</th>
              <th colspan="2">Evento 12</th>
              <tr border="0">
                <th colspan="2"></th>
                <th></th>
                <th>Fecha Inicio</th>
                <th>Duración en días</th>
                <th>Fecha Inicio</th>
                <th>Duración en días</th>
                <th>Fecha Inicio</th>
                <th>Duración en días</th>
                <th>Fecha Inicio</th>
                <th>Duración en días</th>
                <th>Fecha Inicio</th>
                <th>Duración en días</th>
                <th>Fecha Inicio</th>
                <th>Duración en días</th>
                <th>Fecha Inicio</th>
                <th>Duración en días</th>
                <th>Fecha Inicio</th>
                <th>Duración en días</th>
                <th>Fecha Inicio</th>
                <th>Duración en días</th>
                <th>Fecha Inicio</th>
                <th>Duración en días</th>
                <th>Fecha Inicio</th>
                <th>Duración en días</th>
                <th>Fecha Inicio</th>
                <th>Duración en días</th>
              </tr>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Acción</td>
              <td>&nbsp; 1.1 &nbsp; <%= @proposal.action_1a %></td>
              <td><%= @proposal.section.times_action_1a %></td>
              <td><%= @proposal.section.section1_fechaI_1a %>
              <td><%= @proposal.section.section1_dias_1a %></td>
              <td><%= @proposal.section.section2_fechaI_1a %>
              <td><%= @proposal.section.section2_dias_1a %></td>
              <td><%= @proposal.section.section3_fechaI_1a %>
              <td><%= @proposal.section.section3_dias_1a %></td>
              <td><%= @proposal.section.section4_fechaI_1a %>
              <td><%= @proposal.section.section4_dias_1a %></td>
              <td><%= @proposal.section.section5_fechaI_1a %>
              <td><%= @proposal.section.section5_dias_1a %></td>
              <td><%= @proposal.section.section6_fechaI_1a %>
              <td><%= @proposal.section.section6_dias_1a %></td>
              <td><%= @proposal.section.section7_fechaI_1a %>
              <td><%= @proposal.section.section7_dias_1a %></td>
              <td><%= @proposal.section.section8_fechaI_1a %>
              <td><%= @proposal.section.section8_dias_1a %></td>
              <td><%= @proposal.section.section9_fechaI_1a %>
              <td><%= @proposal.section.section9_dias_1a %></td>
              <td><%= @proposal.section.section10_fechaI_1a %>
              <td><%= @proposal.section.section10_dias_1a %></td>
              <td><%= @proposal.section.section11_fechaI_1a %>
              <td><%= @proposal.section.section11_dias_1a %></td>
              <td><%= @proposal.section.section12_fechaI_1a %>
              <td><%= @proposal.section.section12_dias_1a %></td>
            </tr>
            <tr><td>&nbsp;</td></tr>
            <tr>
              <td>Acción</td>
              <td>&nbsp 1.2 &nbsp <%= @proposal.action_1b %></td>
              <td><%= @proposal.section.times_action_1b %></td>
              <td><%= @proposal.section.section1_fechaI_1b %>
              <td><%= @proposal.section.section1_dias_1b %></td>
              <td><%= @proposal.section.section2_fechaI_1b %>
              <td><%= @proposal.section.section2_dias_1b %></td>
              <td><%= @proposal.section.section2_fechaI_1b %>
              <td><%= @proposal.section.section3_dias_1b %></td>
              <td><%= @proposal.section.section3_fechaI_1b %>
              <td><%= @proposal.section.section4_dias_1b %></td>
              <td><%= @proposal.section.section4_fechaI_1b %>
              <td><%= @proposal.section.section5_dias_1b %></td>
              <td><%= @proposal.section.section5_fechaI_1b %>
              <td><%= @proposal.section.section6_dias_1b %></td>
              <td><%= @proposal.section.section6_fechaI_1b %>
              <td><%= @proposal.section.section7_dias_1b %></td>
              <td><%= @proposal.section.section7_fechaI_1b %>
              <td><%= @proposal.section.section8_dias_1b %></td>
              <td><%= @proposal.section.section8_fechaI_1b %>
              <td><%= @proposal.section.section9_dias_1b %></td>
              <td><%= @proposal.section.section9_fechaI_1b %>
              <td><%= @proposal.section.section10_dias_1b %></td>
              <td><%= @proposal.section.section10_fechaI_1b %>
              <td><%= @proposal.section.section11_dias_1b %></td>
              <td><%= @proposal.section.section12_fechaI_1b %>
              <td><%= @proposal.section.section12_dias_1b %></td>
            </tr>
            <tr><td>&nbsp;</td></tr>
            <tr>
              <td>Acción</td>
              <td>&nbsp 1.3 &nbsp <%= @proposal.action_1c %></td>
              <td><%= @proposal.section.times_action_1c %></td>
              <td><%= @proposal.section.section1_fechaI_1b %>
              <td><%= @proposal.section.section1_dias_1b %></td>
              <td><%= @proposal.section.section2_fechaI_1b %>
              <td><%= @proposal.section.section2_dias_1b %></td>
              <td><%= @proposal.section.section3_fechaI_1b %>
              <td><%= @proposal.section.section3_dias_1b %></td>
              <td><%= @proposal.section.section4_fechaI_1b %>
              <td><%= @proposal.section.section4_dias_1b %></td>
              <td><%= @proposal.section.section5_fechaI_1b %>
              <td><%= @proposal.section.section5_dias_1b %></td>
              <td><%= @proposal.section.section6_fechaI_1b %>
              <td><%= @proposal.section.section6_dias_1b %></td>
              <td><%= @proposal.section.section7_fechaI_1b %>
              <td><%= @proposal.section.section7_dias_1b %></td>
              <td><%= @proposal.section.section8_fechaI_1b %>
              <td><%= @proposal.section.section8_dias_1b %></td>
              <td><%= @proposal.section.section9_fechaI_1b %>
              <td><%= @proposal.section.section9_dias_1b %></td>
              <td><%= @proposal.section.section10_fechaI_1b %>
              <td><%= @proposal.section.section10_dias_1b %></td>
              <td><%= @proposal.section.section11_fechaI_1b %>
              <td><%= @proposal.section.section11_dias_1b %></td>
              <td><%= @proposal.section.section12_fechaI_1b %>
              <td><%= @proposal.section.section12_dias_1b %></td>
            </tr>
            <tr><td>&nbsp;</td></tr>
            <tr>
              <td>Acción</td>
              <td>&nbsp 2.1 &nbsp <%= @proposal.action_2a %></td>
              <td><%= @proposal.section.times_action_2a %></td>
              <td><%= @proposal.section.section1_fechaI_2a %>
              <td><%= @proposal.section.section1_dias_2a %></td>
              <td><%= @proposal.section.section2_fechaI_2a %>
              <td><%= @proposal.section.section2_dias_2a %></td>
              <td><%= @proposal.section.section3_fechaI_2a %>
              <td><%= @proposal.section.section3_dias_2a %></td>
              <td><%= @proposal.section.section4_fechaI_2a %>
              <td><%= @proposal.section.section4_dias_2a %></td>
              <td><%= @proposal.section.section5_fechaI_2a %>
              <td><%= @proposal.section.section5_dias_2a %></td>
              <td><%= @proposal.section.section6_fechaI_2a %>
              <td><%= @proposal.section.section6_dias_2a %></td>
              <td><%= @proposal.section.section7_fechaI_2a %>
              <td><%= @proposal.section.section7_dias_2a %></td>
              <td><%= @proposal.section.section8_fechaI_2a %>
              <td><%= @proposal.section.section8_dias_2a %></td>
              <td><%= @proposal.section.section9_fechaI_2a %>
              <td><%= @proposal.section.section9_dias_2a %></td>
              <td><%= @proposal.section.section10_fechaI_2a %>
              <td><%= @proposal.section.section10_dias_2a %></td>
              <td><%= @proposal.section.section11_fechaI_2a %>
              <td><%= @proposal.section.section11_dias_2a %></td>
              <td><%= @proposal.section.section12_fechaI_2a %>
              <td><%= @proposal.section.section12_dias_2a %></td>
            </tr>
            <tr><td>&nbsp;</td></tr>
            <tr>
              <td>Acción</td>
              <td>&nbsp 2.2 &nbsp <%= @proposal.action_2b %></td>
              <td><%= @proposal.section.times_action_2b %></td>
              <td><%= @proposal.section.section1_fechaI_2b %>
              <td><%= @proposal.section.section1_dias_2b %></td>
              <td><%= @proposal.section.section2_fechaI_2b %>
              <td><%= @proposal.section.section2_dias_2b %></td>
              <td><%= @proposal.section.section3_fechaI_2b %>
              <td><%= @proposal.section.section3_dias_2b %></td>
              <td><%= @proposal.section.section4_fechaI_2b %>
              <td><%= @proposal.section.section4_dias_2b %></td>
              <td><%= @proposal.section.section5_fechaI_2b %>
              <td><%= @proposal.section.section5_dias_2b %></td>
              <td><%= @proposal.section.section6_fechaI_2b %>
              <td><%= @proposal.section.section6_dias_2b %></td>
              <td><%= @proposal.section.section7_fechaI_2b %>
              <td><%= @proposal.section.section7_dias_2b %></td>
              <td><%= @proposal.section.section8_fechaI_2b %>
              <td><%= @proposal.section.section8_dias_2b %></td>
              <td><%= @proposal.section.section9_fechaI_2b %>
              <td><%= @proposal.section.section9_dias_2b %></td>
              <td><%= @proposal.section.section10_fechaI_2b %>
              <td><%= @proposal.section.section10_dias_2b %></td>
              <td><%= @proposal.section.section11_fechaI_2b %>
              <td><%= @proposal.section.section11_dias_2b %></td>
              <td><%= @proposal.section.section12_fechaI_2b %>
              <td><%= @proposal.section.section12_dias_2b %></td>
            </tr>
            <tr><td>&nbsp;</td></tr>
            <tr>
              <td>Acción</td>
              <td>&nbsp 2.3 &nbsp <%= @proposal.action_2c %></td>
              <td><%= @proposal.section.times_action_2c %></td>
              <td><%= @proposal.section.section1_fechaI_2c %>
              <td><%= @proposal.section.section1_dias_2c %></td>
              <td><%= @proposal.section.section2_fechaI_2c %>
              <td><%= @proposal.section.section2_dias_2c %></td>
              <td><%= @proposal.section.section3_fechaI_2c %>
              <td><%= @proposal.section.section3_dias_2c %></td>
              <td><%= @proposal.section.section4_fechaI_2c %>
              <td><%= @proposal.section.section4_dias_2c %></td>
              <td><%= @proposal.section.section5_fechaI_2c %>
              <td><%= @proposal.section.section5_dias_2c %></td>
              <td><%= @proposal.section.section6_fechaI_2c %>
              <td><%= @proposal.section.section6_dias_2c %></td>
              <td><%= @proposal.section.section7_fechaI_2c %>
              <td><%= @proposal.section.section7_dias_2c %></td>
              <td><%= @proposal.section.section8_fechaI_2c %>
              <td><%= @proposal.section.section8_dias_2c %></td>
              <td><%= @proposal.section.section9_fechaI_2c %>
              <td><%= @proposal.section.section9_dias_2c %></td>
              <td><%= @proposal.section.section10_fechaI_2c %>
              <td><%= @proposal.section.section10_dias_2c %></td>
              <td><%= @proposal.section.section11_fechaI_2c %>
              <td><%= @proposal.section.section11_dias_2c %></td>
              <td><%= @proposal.section.section12_fechaI_2c %>
              <td><%= @proposal.section.section12_dias_2c %></td>
            </tr>
            <tr><td>&nbsp;</td></tr>
            <tr>
              <td>Acción</td>
              <td>&nbsp 3.1 &nbsp <%= @proposal.action_3a %></td>
              <td><%= @proposal.section.times_action_3a %></td>
              <td><%= @proposal.section.section1_fechaI_3a %>
              <td><%= @proposal.section.section1_dias_3a %></td>
              <td><%= @proposal.section.section2_fechaI_3a %>
              <td><%= @proposal.section.section2_dias_3a %></td>
              <td><%= @proposal.section.section3_fechaI_3a %>
              <td><%= @proposal.section.section3_dias_3a %></td>
              <td><%= @proposal.section.section4_fechaI_3a %>
              <td><%= @proposal.section.section4_dias_3a %></td>
              <td><%= @proposal.section.section5_fechaI_3a %>
              <td><%= @proposal.section.section5_dias_3a %></td>
              <td><%= @proposal.section.section6_fechaI_3a %>
              <td><%= @proposal.section.section6_dias_3a %></td>
              <td><%= @proposal.section.section7_fechaI_3a %>
              <td><%= @proposal.section.section7_dias_3a %></td>
              <td><%= @proposal.section.section8_fechaI_3a %>
              <td><%= @proposal.section.section8_dias_3a %></td>
              <td><%= @proposal.section.section9_fechaI_3a %>
              <td><%= @proposal.section.section9_dias_3a %></td>
              <td><%= @proposal.section.section10_fechaI_3a %>
              <td><%= @proposal.section.section10_dias_3a %></td>
              <td><%= @proposal.section.section11_fechaI_3a %>
              <td><%= @proposal.section.section11_dias_3a %></td>
              <td><%= @proposal.section.section12_fechaI_3a %>
              <td><%= @proposal.section.section12_dias_3a %></td>
            </tr>
            <tr><td>&nbsp;</td></tr>
            <tr>
              <td>Acción</td>
              <td>&nbsp 3.2 &nbsp <%= @proposal.action_3b %></td>
              <td><%= @proposal.section.times_action_3b %></td>
              <td><%= @proposal.section.section1_fechaI_3b %>
              <td><%= @proposal.section.section1_dias_3b %></td>
              <td><%= @proposal.section.section2_fechaI_3b %>
              <td><%= @proposal.section.section2_dias_3b %></td>
              <td><%= @proposal.section.section3_fechaI_3b %>
              <td><%= @proposal.section.section3_dias_3b %></td>
              <td><%= @proposal.section.section4_fechaI_3b %>
              <td><%= @proposal.section.section4_dias_3b %></td>
              <td><%= @proposal.section.section5_fechaI_3b %>
              <td><%= @proposal.section.section5_dias_3b %></td>
              <td><%= @proposal.section.section6_fechaI_3b %>
              <td><%= @proposal.section.section6_dias_3b %></td>
              <td><%= @proposal.section.section7_fechaI_3b %>
              <td><%= @proposal.section.section7_dias_3b %></td>
              <td><%= @proposal.section.section8_fechaI_3b %>
              <td><%= @proposal.section.section8_dias_3b %></td>
              <td><%= @proposal.section.section9_fechaI_3b %>
              <td><%= @proposal.section.section9_dias_3b %></td>
              <td><%= @proposal.section.section10_fechaI_3b %>
              <td><%= @proposal.section.section10_dias_3b %></td>
              <td><%= @proposal.section.section11_fechaI_3b %>
              <td><%= @proposal.section.section11_dias_3b %></td>
              <td><%= @proposal.section.section12_fechaI_3b %>
              <td><%= @proposal.section.section12_dias_3b %></td>
            </tr>
            <tr><td>&nbsp;</td></tr>
            <tr>
              <td>Acción</td>
              <td>&nbsp 3.3 &nbsp <%= @proposal.action_3c %></td>
              <td><%= @proposal.section.times_action_3c %></td>
              <td><%= @proposal.section.section1_fechaI_3c %>
              <td><%= @proposal.section.section1_dias_3c %></td>
              <td><%= @proposal.section.section2_fechaI_3c %>
              <td><%= @proposal.section.section2_dias_3c %></td>
              <td><%= @proposal.section.section3_fechaI_3c %>
              <td><%= @proposal.section.section3_dias_3c %></td>
              <td><%= @proposal.section.section4_fechaI_3c %>
              <td><%= @proposal.section.section4_dias_3c %></td>
              <td><%= @proposal.section.section5_fechaI_3c %>
              <td><%= @proposal.section.section5_dias_3c %></td>
              <td><%= @proposal.section.section6_fechaI_3c %>
              <td><%= @proposal.section.section6_dias_3c %></td>
              <td><%= @proposal.section.section7_fechaI_3c %>
              <td><%= @proposal.section.section7_dias_3c %></td>
              <td><%= @proposal.section.section8_fechaI_3c %>
              <td><%= @proposal.section.section8_dias_3c %></td>
              <td><%= @proposal.section.section9_fechaI_3c %>
              <td><%= @proposal.section.section9_dias_3c %></td>
              <td><%= @proposal.section.section10_fechaI_3c %>
              <td><%= @proposal.section.section10_dias_3c %></td>
              <td><%= @proposal.section.section11_fechaI_3c %>
              <td><%= @proposal.section.section11_dias_3c %></td>
              <td><%= @proposal.section.section12_fechaI_3c %>
              <td><%= @proposal.section.section12_dias_3c %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    
    <div class="col-md-10 col-xs-12 col-md-offset-2">


      <!-- METODOLOGÍA -->
      <div class="row">
        <h1 class="text-center">Metodologías</h1>  
        <table class="table">
          <thead>
            <th>Método o procedimiento</th>
            <th>Medio o tecnología</th>
            <th>¿Cómo se hace?</th>
          </thead>
          <tbody>
            <tr>
              <td><%= @proposal.methodology_process %></td>
              <td><%= @proposal.methodology_medium %></td>
              <td><%= @proposal.methodology_description %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <hr>

      <!-- IMPACTOS -->
      <div class="row">
        <h1 class="text-center">Impactos</h1>  
        <table class="table">
          <thead>
            <th>Objetivo específico</th>
            <th>Meta</th>
            <th>Indicador</th>
            <th>Evidencia</th>
          </thead>
          <tbody>
            <tr>
              <td><%= @proposal.impact_objective1 %></td>
              <td><%= @proposal.impact_goal1 %></td>
              <td><%= @proposal.impact_indicator1 %></td>
              <td><%= @proposal.impact_evidence1 %></td>
            </tr>
            <tr>
              <td><%= @proposal.impact_objective2 %></td>
              <td><%= @proposal.impact_goal2 %></td>
              <td><%= @proposal.impact_indicator2 %></td>
              <td><%= @proposal.impact_evidence2 %></td>
            </tr>
            <tr>
              <td><%= @proposal.impact_objective3 %></td>
              <td><%= @proposal.impact_goal3 %></td>
              <td><%= @proposal.impact_indicator3 %></td>
              <td><%= @proposal.impact_evidence3 %></td>
            </tr>
          </tbody>
        </table>
      </div>


      <hr>
      <!-- ACCIONES -->
      <div class="row">
        <h1 class="text-center">Recursos Escogidos</h1>

        Acción 1.1 Total de recursos por acción: <%= @resource.total_cost_action_1a %>
        Semana inicio: <%= @resource.week_init_action_1a %>
        Semana termino: <%= @resource.week_fin_action_1a %>
        <table class="table">
          <thead>
            <th>Concepto</th>
            <th>Clasificación</th>
            <th>Proveedor 1</th>
            <th>Costo </th>
            <th>Proveedor 2 </th>
            <th>Costo 2 </th>
            <th>Proveedor 3 </th>
            <th>Costo 3 </th>
            <th>Proveedor Seleccionado </th>
            <th>Costo Seleccionado </th>
          </thead>
          <tbody>
            <tr>
              <td><%= @resource.concept1_action_1a %></td>
              <td><%= @resource.clasif1_action_1a %></td>
              <td><%= @resource.name1_prov1_action_1a %></td>
              <td><%= @resource.cost1_action1_1a %></td>
              <td><%= @resource.name2_prov1_action_1a %></td>
              <td><%= @resource.cost2_action1_1a %></td>
              <td><%= @resource.name3_prov1_action_1a %></td>
              <td><%= @resource.cost3_action1_1a %></td>
              <td><%= @resource.selection_prov1_action_1a %></td>
              <td><%= @resource.selection_cost_action1_1a %></td>
            </tr>
            <tr>
              <td><%= @resource.concept2_action_1a %></td>
              <td><%= @resource.clasif2_action_1a %></td>
              <td><%= @resource.name1_prov2_action_1a %></td>
              <td><%= @resource.cost1_action2_1a %></td>
              <td><%= @resource.name2_prov2_action_1a %></td>
              <td><%= @resource.cost2_action2_1a %></td>
              <td><%= @resource.name3_prov2_action_1a %></td>
              <td><%= @resource.cost3_action2_1a %></td>
              <td><%= @resource.selection_prov2_action_1a %></td>
              <td><%= @resource.selection_cost_action2_1a %></td>
            </tr>
            <tr>
              <td><%= @resource.concept3_action_1a %></td>
              <td><%= @resource.clasif3_action_1a %></td>
              <td><%= @resource.name1_prov3_action_1a %></td>
              <td><%= @resource.cost1_action3_1a %></td>
              <td><%= @resource.name2_prov3_action_1a %></td>
              <td><%= @resource.cost2_action3_1a %></td>
              <td><%= @resource.name3_prov3_action_1a %></td>
              <td><%= @resource.cost3_action3_1a %></td>
              <td><%= @resource.selection_prov3_action_1a %></td>
              <td><%= @resource.selection_cost_action3_1a %></td>
            </tr>
            <tr>
              <td><%= @resource.concept4_action_1a %></td>
              <td><%= @resource.clasif4_action_1a %></td>
              <td><%= @resource.name1_prov4_action_1a %></td>
              <td><%= @resource.cost1_action4_1a %></td>
              <td><%= @resource.name2_prov4_action_1a %></td>
              <td><%= @resource.cost2_action4_1a %></td>
              <td><%= @resource.name3_prov4_action_1a %></td>
              <td><%= @resource.cost3_action4_1a %></td>
              <td><%= @resource.selection_prov4_action_1a %></td>
              <td><%= @resource.selection_cost_action4_1a %></td>
            </tr>
            <tr>
              <td><%= @resource.concept5_action_1a %></td>
              <td><%= @resource.clasif5_action_1a %></td>
              <td><%= @resource.name1_prov5_action_1a %></td>
              <td><%= @resource.cost1_action5_1a %></td>
              <td><%= @resource.name2_prov5_action_1a %></td>
              <td><%= @resource.cost2_action5_1a %></td>
              <td><%= @resource.name3_prov5_action_1a %></td>
              <td><%= @resource.cost3_action5_1a %></td>
              <td><%= @resource.selection_prov5_action_1a %></td>
              <td><%= @resource.selection_cost_action5_1a %></td>
            </tr>
          </tbody>
        </table>

        Acción 1.2 Total de recursos por acción: <%= @resource.total_cost_action_1b %>
        Semana inicio: <%= @resource.week_init_action_1b %>
        Semana termino: <%= @resource.week_fin_action_1b %>
        <table class="table">
          <thead>
            <th>Concepto</th>
            <th>Clasificación</th>
            <th>Proveedor 1</th>
            <th>Costo </th>
            <th>Proveedor 2 </th>
            <th>Costo 2 </th>
            <th>Proveedor 3 </th>
            <th>Costo 3 </th>
            <th>Proveedor Seleccionado </th>
            <th>Costo Seleccionado </th>
          </thead>
          <tbody>
            <tr>
              <td><%= @resource.concept1_action_1b %></td>
              <td><%= @resource.clasif1_action_1b %></td>
              <td><%= @resource.name1_prov1_action_1b %></td>
              <td><%= @resource.cost1_action1_1b %></td>
              <td><%= @resource.name2_prov1_action_1b %></td>
              <td><%= @resource.cost2_action1_1b %></td>
              <td><%= @resource.name3_prov1_action_1b %></td>
              <td><%= @resource.cost3_action1_1b %></td>
              <td><%= @resource.selection_prov1_action_1b %></td>
              <td><%= @resource.selection_cost_action1_1b %></td>
            </tr>
            <tr>
              <td><%= @resource.concept2_action_1b %></td>
              <td><%= @resource.clasif2_action_1b %></td>
              <td><%= @resource.name1_prov2_action_1b %></td>
              <td><%= @resource.cost1_action2_1b %></td>
              <td><%= @resource.name2_prov2_action_1b %></td>
              <td><%= @resource.cost2_action2_1b %></td>
              <td><%= @resource.name3_prov2_action_1b %></td>
              <td><%= @resource.cost3_action2_1b %></td>
              <td><%= @resource.selection_prov2_action_1b %></td>
              <td><%= @resource.selection_cost_action2_1b %></td>
            </tr>
            <tr>
              <td><%= @resource.concept3_action_1b %></td>
              <td><%= @resource.clasif3_action_1b %></td>
              <td><%= @resource.name1_prov3_action_1b %></td>
              <td><%= @resource.cost1_action3_1b %></td>
              <td><%= @resource.name2_prov3_action_1b %></td>
              <td><%= @resource.cost2_action3_1b %></td>
              <td><%= @resource.name3_prov3_action_1b %></td>
              <td><%= @resource.cost3_action3_1b %></td>
              <td><%= @resource.selection_prov3_action_1b %></td>
              <td><%= @resource.selection_cost_action3_1b %></td>
            </tr>
            <tr>
              <td><%= @resource.concept4_action_1b %></td>
              <td><%= @resource.clasif4_action_1b %></td>
              <td><%= @resource.name1_prov4_action_1b %></td>
              <td><%= @resource.cost1_action4_1b %></td>
              <td><%= @resource.name2_prov4_action_1b %></td>
              <td><%= @resource.cost2_action4_1b %></td>
              <td><%= @resource.name3_prov4_action_1b %></td>
              <td><%= @resource.cost3_action4_1b %></td>
              <td><%= @resource.selection_prov4_action_1b %></td>
              <td><%= @resource.selection_cost_action4_1b %></td>
            </tr>
            <tr>
              <td><%= @resource.concept5_action_1b %></td>
              <td><%= @resource.clasif5_action_1b %></td>
              <td><%= @resource.name1_prov5_action_1b %></td>
              <td><%= @resource.cost1_action5_1b %></td>
              <td><%= @resource.name2_prov5_action_1b %></td>
              <td><%= @resource.cost2_action5_1b %></td>
              <td><%= @resource.name3_prov5_action_1b %></td>
              <td><%= @resource.cost3_action5_1b %></td>
              <td><%= @resource.selection_prov5_action_1b %></td>
              <td><%= @resource.selection_cost_action5_1b %></td>
            </tr>
          </tbody>
        </table>

        Acción 1.3 Total de recursos por acción: <%= @resource.total_cost_action_1c %>
        Semana inicio: <%= @resource.week_init_action_1c %>
        Semana termino: <%= @resource.week_fin_action_1c %>
        <table class="table">
          <thead>
            <th>Concepto</th>
            <th>Clasificación</th>
            <th>Proveedor 1</th>
            <th>Costo </th>
            <th>Proveedor 2 </th>
            <th>Costo 2 </th>
            <th>Proveedor 3 </th>
            <th>Costo 3 </th>
            <th>Proveedor Seleccionado </th>
            <th>Costo Seleccionado </th>
          </thead>
          <tbody>
            <tr>
              <td><%= @resource.concept1_action_1c %></td>
              <td><%= @resource.clasif1_action_1c %></td>
              <td><%= @resource.name1_prov1_action_1c %></td>
              <td><%= @resource.cost1_action1_1c %></td>
              <td><%= @resource.name2_prov1_action_1c %></td>
              <td><%= @resource.cost2_action1_1c %></td>
              <td><%= @resource.name3_prov1_action_1c %></td>
              <td><%= @resource.cost3_action1_1c %></td>
              <td><%= @resource.selection_prov1_action_1c %></td>
              <td><%= @resource.selection_cost_action1_1c %></td>
            </tr>
            <tr>
              <td><%= @resource.concept2_action_1c %></td>
              <td><%= @resource.clasif2_action_1c %></td>
              <td><%= @resource.name1_prov2_action_1c %></td>
              <td><%= @resource.cost1_action2_1c %></td>
              <td><%= @resource.name2_prov2_action_1c %></td>
              <td><%= @resource.cost2_action2_1c %></td>
              <td><%= @resource.name3_prov2_action_1c %></td>
              <td><%= @resource.cost3_action2_1c %></td>
              <td><%= @resource.selection_prov2_action_1c %></td>
              <td><%= @resource.selection_cost_action2_1c %></td>
            </tr>
            <tr>
              <td><%= @resource.concept3_action_1c %></td>
              <td><%= @resource.clasif3_action_1c %></td>
              <td><%= @resource.name1_prov3_action_1c %></td>
              <td><%= @resource.cost1_action3_1c %></td>
              <td><%= @resource.name2_prov3_action_1c %></td>
              <td><%= @resource.cost2_action3_1c %></td>
              <td><%= @resource.name3_prov3_action_1c %></td>
              <td><%= @resource.cost3_action3_1c %></td>
              <td><%= @resource.selection_prov3_action_1c %></td>
              <td><%= @resource.selection_cost_action3_1c %></td>
            </tr>
            <tr>
              <td><%= @resource.concept4_action_1c %></td>
              <td><%= @resource.clasif4_action_1c %></td>
              <td><%= @resource.name1_prov4_action_1c %></td>
              <td><%= @resource.cost1_action4_1c %></td>
              <td><%= @resource.name2_prov4_action_1c %></td>
              <td><%= @resource.cost2_action4_1c %></td>
              <td><%= @resource.name3_prov4_action_1c %></td>
              <td><%= @resource.cost3_action4_1c %></td>
              <td><%= @resource.selection_prov4_action_1c %></td>
              <td><%= @resource.selection_cost_action4_1c %></td>
            </tr>
            <tr>
              <td><%= @resource.concept5_action_1c %></td>
              <td><%= @resource.clasif5_action_1c %></td>
              <td><%= @resource.name1_prov5_action_1c %></td>
              <td><%= @resource.cost1_action5_1c %></td>
              <td><%= @resource.name2_prov5_action_1c %></td>
              <td><%= @resource.cost2_action5_1c %></td>
              <td><%= @resource.name3_prov5_action_1c %></td>
              <td><%= @resource.cost3_action5_1c %></td>
              <td><%= @resource.selection_prov5_action_1c %></td>
              <td><%= @resource.selection_cost_action5_1c %></td>
            </tr>
          </tbody>
        </table>
          
        Acción 2.1 Total de recursos por acción: <%= @resource.total_cost_action_2a %>
        Semana inicio: <%= @resource.week_init_action_2a %>
        Semana termino: <%= @resource.week_fin_action_2a %>
        <table class="table">
          <thead>
            <th>Concepto</th>
            <th>Clasificación</th>
            <th>Proveedor 1</th>
            <th>Costo </th>
            <th>Proveedor 2 </th>
            <th>Costo 2 </th>
            <th>Proveedor 3 </th>
            <th>Costo 3 </th>
            <th>Proveedor Seleccionado </th>
            <th>Costo Seleccionado </th>
          </thead>
          <tbody>
            <tr>
              <td><%= @resource.concept1_action_2a %></td>
              <td><%= @resource.clasif1_action_2a %></td>
              <td><%= @resource.name1_prov1_action_2a %></td>
              <td><%= @resource.cost1_action1_2a %></td>
              <td><%= @resource.name2_prov1_action_2a %></td>
              <td><%= @resource.cost2_action1_2a %></td>
              <td><%= @resource.name3_prov1_action_2a %></td>
              <td><%= @resource.cost3_action1_2a %></td>
              <td><%= @resource.selection_prov1_action_2a %></td>
              <td><%= @resource.selection_cost_action1_2a %></td>
            </tr>
            <tr>
              <td><%= @resource.concept2_action_2a %></td>
              <td><%= @resource.clasif2_action_2a %></td>
              <td><%= @resource.name1_prov2_action_2a %></td>
              <td><%= @resource.cost1_action2_2a %></td>
              <td><%= @resource.name2_prov2_action_2a %></td>
              <td><%= @resource.cost2_action2_2a %></td>
              <td><%= @resource.name3_prov2_action_2a %></td>
              <td><%= @resource.cost3_action2_2a %></td>
              <td><%= @resource.selection_prov2_action_2a %></td>
              <td><%= @resource.selection_cost_action2_2a %></td>
            </tr>
            <tr>
              <td><%= @resource.concept3_action_2a %></td>
              <td><%= @resource.clasif3_action_2a %></td>
              <td><%= @resource.name1_prov3_action_2a %></td>
              <td><%= @resource.cost1_action3_2a %></td>
              <td><%= @resource.name2_prov3_action_2a %></td>
              <td><%= @resource.cost2_action3_2a %></td>
              <td><%= @resource.name3_prov3_action_2a %></td>
              <td><%= @resource.cost3_action3_2a %></td>
              <td><%= @resource.selection_prov3_action_2a %></td>
              <td><%= @resource.selection_cost_action3_2a %></td>
            </tr>
            <tr>
              <td><%= @resource.concept4_action_2a %></td>
              <td><%= @resource.clasif4_action_2a %></td>
              <td><%= @resource.name1_prov4_action_2a %></td>
              <td><%= @resource.cost1_action4_2a %></td>
              <td><%= @resource.name2_prov4_action_2a %></td>
              <td><%= @resource.cost2_action4_2a %></td>
              <td><%= @resource.name3_prov4_action_2a %></td>
              <td><%= @resource.cost3_action4_2a %></td>
              <td><%= @resource.selection_prov4_action_2a %></td>
              <td><%= @resource.selection_cost_action4_2a %></td>
            </tr>
            <tr>
              <td><%= @resource.concept5_action_2a %></td>
              <td><%= @resource.clasif5_action_2a %></td>
              <td><%= @resource.name1_prov5_action_2a %></td>
              <td><%= @resource.cost1_action5_2a %></td>
              <td><%= @resource.name2_prov5_action_2a %></td>
              <td><%= @resource.cost2_action5_2a %></td>
              <td><%= @resource.name3_prov5_action_2a %></td>
              <td><%= @resource.cost3_action5_2a %></td>
              <td><%= @resource.selection_prov5_action_2a %></td>
              <td><%= @resource.selection_cost_action5_2a %></td>
            </tr>
          </tbody>
        </table>

        Acción 2.2 Total de recursos por acción: <%= @resource.total_cost_action_2b %>
        Semana inicio: <%= @resource.week_init_action_2b %>
        Semana termino: <%= @resource.week_fin_action_2b %>
        <table class="table">
          <thead>
            <th>Concepto</th>
            <th>Clasificación</th>
            <th>Proveedor 1</th>
            <th>Costo </th>
            <th>Proveedor 2 </th>
            <th>Costo 2 </th>
            <th>Proveedor 3 </th>
            <th>Costo 3 </th>
            <th>Proveedor Seleccionado </th>
            <th>Costo Seleccionado </th>
          </thead>
          <tbody>
            <tr>
              <td><%= @resource.concept1_action_2b %></td>
              <td><%= @resource.clasif1_action_2b %></td>
              <td><%= @resource.name1_prov1_action_2b %></td>
              <td><%= @resource.cost1_action1_2b %></td>
              <td><%= @resource.name2_prov1_action_2b %></td>
              <td><%= @resource.cost2_action1_2b %></td>
              <td><%= @resource.name3_prov1_action_2b %></td>
              <td><%= @resource.cost3_action1_2b %></td>
              <td><%= @resource.selection_prov1_action_2b %></td>
              <td><%= @resource.selection_cost_action1_2b %></td>
            </tr>
            <tr>
              <td><%= @resource.concept2_action_2b %></td>
              <td><%= @resource.clasif2_action_2b %></td>
              <td><%= @resource.name1_prov2_action_2b %></td>
              <td><%= @resource.cost1_action2_2b %></td>
              <td><%= @resource.name2_prov2_action_2b %></td>
              <td><%= @resource.cost2_action2_2b %></td>
              <td><%= @resource.name3_prov2_action_2b %></td>
              <td><%= @resource.cost3_action2_2b %></td>
              <td><%= @resource.selection_prov2_action_2b %></td>
              <td><%= @resource.selection_cost_action2_2b %></td>
            </tr>
            <tr>
              <td><%= @resource.concept3_action_2b %></td>
              <td><%= @resource.clasif3_action_2b %></td>
              <td><%= @resource.name1_prov3_action_2b %></td>
              <td><%= @resource.cost1_action3_2b %></td>
              <td><%= @resource.name2_prov3_action_2b %></td>
              <td><%= @resource.cost2_action3_2b %></td>
              <td><%= @resource.name3_prov3_action_2b %></td>
              <td><%= @resource.cost3_action3_2b %></td>
              <td><%= @resource.selection_prov3_action_2b %></td>
              <td><%= @resource.selection_cost_action3_2b %></td>
            </tr>
            <tr>
              <td><%= @resource.concept4_action_2b %></td>
              <td><%= @resource.clasif4_action_2b %></td>
              <td><%= @resource.name1_prov4_action_2b %></td>
              <td><%= @resource.cost1_action4_2b %></td>
              <td><%= @resource.name2_prov4_action_2b %></td>
              <td><%= @resource.cost2_action4_2b %></td>
              <td><%= @resource.name3_prov4_action_2b %></td>
              <td><%= @resource.cost3_action4_2b %></td>
              <td><%= @resource.selection_prov4_action_2b %></td>
              <td><%= @resource.selection_cost_action4_2b %></td>
            </tr>
            <tr>
              <td><%= @resource.concept5_action_2b %></td>
              <td><%= @resource.clasif5_action_2b %></td>
              <td><%= @resource.name1_prov5_action_2b %></td>
              <td><%= @resource.cost1_action5_2b %></td>
              <td><%= @resource.name2_prov5_action_2b %></td>
              <td><%= @resource.cost2_action5_2b %></td>
              <td><%= @resource.name3_prov5_action_2b %></td>
              <td><%= @resource.cost3_action5_2b %></td>
              <td><%= @resource.selection_prov5_action_2b %></td>
              <td><%= @resource.selection_cost_action5_2b %></td>
            </tr>
          </tbody>
        </table>

        Acción 2.3 Total de recursos por acción: <%= @resource.total_cost_action_2c %>
        Semana inicio: <%= @resource.week_init_action_2c %>
        Semana termino: <%= @resource.week_fin_action_2c %>
        <table class="table">
          <thead>
            <th>Concepto</th>
            <th>Clasificación</th>
            <th>Proveedor 1</th>
            <th>Costo </th>
            <th>Proveedor 2 </th>
            <th>Costo 2 </th>
            <th>Proveedor 3 </th>
            <th>Costo 3 </th>
            <th>Proveedor Seleccionado </th>
            <th>Costo Seleccionado </th>
          </thead>
          <tbody>
            <tr>
              <td><%= @resource.concept1_action_2c %></td>
              <td><%= @resource.clasif1_action_2c %></td>
              <td><%= @resource.name1_prov1_action_2c %></td>
              <td><%= @resource.cost1_action1_2c %></td>
              <td><%= @resource.name2_prov1_action_2c %></td>
              <td><%= @resource.cost2_action1_2c %></td>
              <td><%= @resource.name3_prov1_action_2c %></td>
              <td><%= @resource.cost3_action1_2c %></td>
              <td><%= @resource.selection_prov1_action_2c %></td>
              <td><%= @resource.selection_cost_action1_2c %></td>
            </tr>
            <tr>
              <td><%= @resource.concept2_action_2c %></td>
              <td><%= @resource.clasif2_action_2c %></td>
              <td><%= @resource.name1_prov2_action_2c %></td>
              <td><%= @resource.cost1_action2_2c %></td>
              <td><%= @resource.name2_prov2_action_2c %></td>
              <td><%= @resource.cost2_action2_2c %></td>
              <td><%= @resource.name3_prov2_action_2c %></td>
              <td><%= @resource.cost3_action2_2c %></td>
              <td><%= @resource.selection_prov2_action_2c %></td>
              <td><%= @resource.selection_cost_action2_2c %></td>
            </tr>
            <tr>
              <td><%= @resource.concept3_action_2c %></td>
              <td><%= @resource.clasif3_action_2c %></td>
              <td><%= @resource.name1_prov3_action_2c %></td>
              <td><%= @resource.cost1_action3_2c %></td>
              <td><%= @resource.name2_prov3_action_2c %></td>
              <td><%= @resource.cost2_action3_2c %></td>
              <td><%= @resource.name3_prov3_action_2c %></td>
              <td><%= @resource.cost3_action3_2c %></td>
              <td><%= @resource.selection_prov3_action_2c %></td>
              <td><%= @resource.selection_cost_action3_2c %></td>
            </tr>
            <tr>
              <td><%= @resource.concept4_action_2c %></td>
              <td><%= @resource.clasif4_action_2c %></td>
              <td><%= @resource.name1_prov4_action_2c %></td>
              <td><%= @resource.cost1_action4_2c %></td>
              <td><%= @resource.name2_prov4_action_2c %></td>
              <td><%= @resource.cost2_action4_2c %></td>
              <td><%= @resource.name3_prov4_action_2c %></td>
              <td><%= @resource.cost3_action4_2c %></td>
              <td><%= @resource.selection_prov4_action_2c %></td>
              <td><%= @resource.selection_cost_action4_2c %></td>
            </tr>
            <tr>
              <td><%= @resource.concept5_action_2c %></td>
              <td><%= @resource.clasif5_action_2c %></td>
              <td><%= @resource.name1_prov5_action_2c %></td>
              <td><%= @resource.cost1_action5_2c %></td>
              <td><%= @resource.name2_prov5_action_2c %></td>
              <td><%= @resource.cost2_action5_2c %></td>
              <td><%= @resource.name3_prov5_action_2c %></td>
              <td><%= @resource.cost3_action5_2c %></td>
              <td><%= @resource.selection_prov5_action_2c %></td>
              <td><%= @resource.selection_cost_action5_2c %></td>
            </tr>
          </tbody>
        </table>

        Acción 3.1 Total de recursos por acción: <%= @resource.total_cost_action_3a %>
        Semana inicio: <%= @resource.week_init_action_3a %>
        Semana termino: <%= @resource.week_fin_action_3a %>
        <table class="table">
          <thead>
            <th>Concepto</th>
            <th>Clasificación</th>
            <th>Proveedor 1</th>
            <th>Costo </th>
            <th>Proveedor 2 </th>
            <th>Costo 2 </th>
            <th>Proveedor 3 </th>
            <th>Costo 3 </th>
            <th>Proveedor Seleccionado </th>
            <th>Costo Seleccionado </th>
          </thead>
          <tbody>
            <tr>
              <td><%= @resource.concept1_action_3a %></td>
              <td><%= @resource.clasif1_action_3a %></td>
              <td><%= @resource.name1_prov1_action_3a %></td>
              <td><%= @resource.cost1_action1_3a %></td>
              <td><%= @resource.name2_prov1_action_3a %></td>
              <td><%= @resource.cost2_action1_3a %></td>
              <td><%= @resource.name3_prov1_action_3a %></td>
              <td><%= @resource.cost3_action1_3a %></td>
              <td><%= @resource.selection_prov1_action_3a %></td>
              <td><%= @resource.selection_cost_action1_3a %></td>
            </tr>
            <tr>
              <td><%= @resource.concept2_action_3a %></td>
              <td><%= @resource.clasif2_action_3a %></td>
              <td><%= @resource.name1_prov2_action_3a %></td>
              <td><%= @resource.cost1_action2_3a %></td>
              <td><%= @resource.name2_prov2_action_3a %></td>
              <td><%= @resource.cost2_action2_3a %></td>
              <td><%= @resource.name3_prov2_action_3a %></td>
              <td><%= @resource.cost3_action2_3a %></td>
              <td><%= @resource.selection_prov2_action_3a %></td>
              <td><%= @resource.selection_cost_action2_3a %></td>
            </tr>
            <tr>
              <td><%= @resource.concept3_action_3a %></td>
              <td><%= @resource.clasif3_action_3a %></td>
              <td><%= @resource.name1_prov3_action_3a %></td>
              <td><%= @resource.cost1_action3_3a %></td>
              <td><%= @resource.name2_prov3_action_3a %></td>
              <td><%= @resource.cost2_action3_3a %></td>
              <td><%= @resource.name3_prov3_action_3a %></td>
              <td><%= @resource.cost3_action3_3a %></td>
              <td><%= @resource.selection_prov3_action_3a %></td>
              <td><%= @resource.selection_cost_action3_3a %></td>
            </tr>
            <tr>
              <td><%= @resource.concept4_action_3a %></td>
              <td><%= @resource.clasif4_action_3a %></td>
              <td><%= @resource.name1_prov4_action_3a %></td>
              <td><%= @resource.cost1_action4_3a %></td>
              <td><%= @resource.name2_prov4_action_3a %></td>
              <td><%= @resource.cost2_action4_3a %></td>
              <td><%= @resource.name3_prov4_action_3a %></td>
              <td><%= @resource.cost3_action4_3a %></td>
              <td><%= @resource.selection_prov4_action_3a %></td>
              <td><%= @resource.selection_cost_action4_3a %></td>
            </tr>
            <tr>
              <td><%= @resource.concept5_action_3a %></td>
              <td><%= @resource.clasif5_action_3a %></td>
              <td><%= @resource.name1_prov5_action_3a %></td>
              <td><%= @resource.cost1_action5_3a %></td>
              <td><%= @resource.name2_prov5_action_3a %></td>
              <td><%= @resource.cost2_action5_3a %></td>
              <td><%= @resource.name3_prov5_action_3a %></td>
              <td><%= @resource.cost3_action5_3a %></td>
              <td><%= @resource.selection_prov5_action_3a %></td>
              <td><%= @resource.selection_cost_action5_3a %></td>
            </tr>
          </tbody>
        </table>

        Acción 3.2 Total de recursos por acción: <%= @resource.total_cost_action_3b %>
        Semana inicio: <%= @resource.week_init_action_3b %>
        Semana termino: <%= @resource.week_fin_action_3b %>
        <table class="table">
          <thead>
            <th>Concepto</th>
            <th>Clasificación</th>
            <th>Proveedor 1</th>
            <th>Costo </th>
            <th>Proveedor 2 </th>
            <th>Costo 2 </th>
            <th>Proveedor 3 </th>
            <th>Costo 3 </th>
            <th>Proveedor Seleccionado </th>
            <th>Costo Seleccionado </th>
          </thead>
          <tbody>
            <tr>
              <td><%= @resource.concept1_action_3b %></td>
              <td><%= @resource.clasif1_action_3b %></td>
              <td><%= @resource.name1_prov1_action_3b %></td>
              <td><%= @resource.cost1_action1_3b %></td>
              <td><%= @resource.name2_prov1_action_3b %></td>
              <td><%= @resource.cost2_action1_3b %></td>
              <td><%= @resource.name3_prov1_action_3b %></td>
              <td><%= @resource.cost3_action1_3b %></td>
              <td><%= @resource.selection_prov1_action_3b %></td>
              <td><%= @resource.selection_cost_action1_3b %></td>
            </tr>
            <tr>
              <td><%= @resource.concept2_action_3b %></td>
              <td><%= @resource.clasif2_action_3b %></td>
              <td><%= @resource.name1_prov2_action_3b %></td>
              <td><%= @resource.cost1_action2_3b %></td>
              <td><%= @resource.name2_prov2_action_3b %></td>
              <td><%= @resource.cost2_action2_3b %></td>
              <td><%= @resource.name3_prov2_action_3b %></td>
              <td><%= @resource.cost3_action2_3b %></td>
              <td><%= @resource.selection_prov2_action_3b %></td>
              <td><%= @resource.selection_cost_action2_3b %></td>
            </tr>
            <tr>
              <td><%= @resource.concept3_action_3b %></td>
              <td><%= @resource.clasif3_action_3b %></td>
              <td><%= @resource.name1_prov3_action_3b %></td>
              <td><%= @resource.cost1_action3_3b %></td>
              <td><%= @resource.name2_prov3_action_3b %></td>
              <td><%= @resource.cost2_action3_3b %></td>
              <td><%= @resource.name3_prov3_action_3b %></td>
              <td><%= @resource.cost3_action3_3b %></td>
              <td><%= @resource.selection_prov3_action_3b %></td>
              <td><%= @resource.selection_cost_action3_3b %></td>
            </tr>
            <tr>
              <td><%= @resource.concept4_action_3b %></td>
              <td><%= @resource.clasif4_action_3b %></td>
              <td><%= @resource.name1_prov4_action_3b %></td>
              <td><%= @resource.cost1_action4_3b %></td>
              <td><%= @resource.name2_prov4_action_3b %></td>
              <td><%= @resource.cost2_action4_3b %></td>
              <td><%= @resource.name3_prov4_action_3b %></td>
              <td><%= @resource.cost3_action4_3b %></td>
              <td><%= @resource.selection_prov4_action_3b %></td>
              <td><%= @resource.selection_cost_action4_3b %></td>
            </tr>
            <tr>
              <td><%= @resource.concept5_action_3b %></td>
              <td><%= @resource.clasif5_action_3b %></td>
              <td><%= @resource.name1_prov5_action_3b %></td>
              <td><%= @resource.cost1_action5_3b %></td>
              <td><%= @resource.name2_prov5_action_3b %></td>
              <td><%= @resource.cost2_action5_3b %></td>
              <td><%= @resource.name3_prov5_action_3b %></td>
              <td><%= @resource.cost3_action5_3b %></td>
              <td><%= @resource.selection_prov5_action_3b %></td>
              <td><%= @resource.selection_cost_action5_3b %></td>
            </tr>
          </tbody>
        </table>

        Acción 3.3 Total de recursos por acción: <%= @resource.total_cost_action_3c %>
        Semana inicio: <%= @resource.week_init_action_3c %>
        Semana termino: <%= @resource.week_fin_action_3c %>
        <table class="table">
          <thead>
            <th>Concepto</th>
            <th>Clasificación</th>
            <th>Proveedor 1</th>
            <th>Costo </th>
            <th>Proveedor 2 </th>
            <th>Costo 2 </th>
            <th>Proveedor 3 </th>
            <th>Costo 3 </th>
            <th>Proveedor Seleccionado </th>
            <th>Costo Seleccionado </th>
          </thead>
          <tbody>
            <tr>
              <td><%= @resource.concept1_action_3c %></td>
              <td><%= @resource.clasif1_action_3c %></td>
              <td><%= @resource.name1_prov1_action_3c %></td>
              <td><%= @resource.cost1_action1_3c %></td>
              <td><%= @resource.name2_prov1_action_3c %></td>
              <td><%= @resource.cost2_action1_3c %></td>
              <td><%= @resource.name3_prov1_action_3c %></td>
              <td><%= @resource.cost3_action1_3c %></td>
              <td><%= @resource.selection_prov1_action_3c %></td>
              <td><%= @resource.selection_cost_action1_3c %></td>
            </tr>
            <tr>
              <td><%= @resource.concept2_action_3c %></td>
              <td><%= @resource.clasif2_action_3c %></td>
              <td><%= @resource.name1_prov2_action_3c %></td>
              <td><%= @resource.cost1_action2_3c %></td>
              <td><%= @resource.name2_prov2_action_3c %></td>
              <td><%= @resource.cost2_action2_3c %></td>
              <td><%= @resource.name3_prov2_action_3c %></td>
              <td><%= @resource.cost3_action2_3c %></td>
              <td><%= @resource.selection_prov2_action_3c %></td>
              <td><%= @resource.selection_cost_action2_3c %></td>
            </tr>
            <tr>
              <td><%= @resource.concept3_action_3c %></td>
              <td><%= @resource.clasif3_action_3c %></td>
              <td><%= @resource.name1_prov3_action_3c %></td>
              <td><%= @resource.cost1_action3_3c %></td>
              <td><%= @resource.name2_prov3_action_3c %></td>
              <td><%= @resource.cost2_action3_3c %></td>
              <td><%= @resource.name3_prov3_action_3c %></td>
              <td><%= @resource.cost3_action3_3c %></td>
              <td><%= @resource.selection_prov3_action_3c %></td>
              <td><%= @resource.selection_cost_action3_3c %></td>
            </tr>
            <tr>
              <td><%= @resource.concept4_action_3c %></td>
              <td><%= @resource.clasif4_action_3c %></td>
              <td><%= @resource.name1_prov4_action_3c %></td>
              <td><%= @resource.cost1_action4_3c %></td>
              <td><%= @resource.name2_prov4_action_3c %></td>
              <td><%= @resource.cost2_action4_3c %></td>
              <td><%= @resource.name3_prov4_action_3c %></td>
              <td><%= @resource.cost3_action4_3c %></td>
              <td><%= @resource.selection_prov4_action_3c %></td>
              <td><%= @resource.selection_cost_action4_3c %></td>
            </tr>
            <tr>
              <td><%= @resource.concept5_action_3c %></td>
              <td><%= @resource.clasif5_action_3c %></td>
              <td><%= @resource.name1_prov5_action_3c %></td>
              <td><%= @resource.cost1_action5_3c %></td>
              <td><%= @resource.name2_prov5_action_3c %></td>
              <td><%= @resource.cost2_action5_3c %></td>
              <td><%= @resource.name3_prov5_action_3c %></td>
              <td><%= @resource.cost3_action5_3c %></td>
              <td><%= @resource.selection_prov5_action_3c %></td>
              <td><%= @resource.selection_cost_action5_3c %></td>
            </tr>
          </tbody>
        </table>
      </div>

      <br>
      <br>
      <% if @resource.concept1_action_1a? %>
          <hr>
          <%= link_to "Editar", new_resource_path, class: "btn btn-default" %>
          <div class="pull-right">
            <%= link_to "Continuar", root_path, data: {confirm: "¿Has revisado todos los campos? Una vez enviado no se podrá editar"}, class: "btn btn-success" %>

          </div>
          <hr>
      <% end %>
    </div>
    

  </div> <!-- end main row -->
</div> <!-- end container -->

<br>
<br>
<br>