<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center">Asignar voluntario</h1>
      <hr>
      <div class="row">
        <div class="col-md-5">
          Nombre de la AC
        </div>
        <div class="col-md-7">
          <%= current_user.ac_name %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Nombre de contacto
        </div>
        <div class="col-md-7">
          <%= current_user.name %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Cargo de contacto
        </div>
        <div class="col-md-7">
          <%= current_user.charge %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Dirección
        </div>
        <div class="col-md-7">
          <%= current_user.address %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Misión y Visión
        </div>
        <div class="col-md-7">
          <%= current_user.mission_vision %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Años en operación
        </div>
        <div class="col-md-7">
          <%= current_user.yr_operation %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Programas que ofrecen
        </div>
        <div class="col-md-7">
          <%= current_user.programs_offered %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Logros          
        </div>
        <div class="col-md-7">
          <%= current_user.achievements %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Temática a participar
        </div>
        <div class="col-md-7">
          <%= Proyect::READ_TOPIC[@proyect.topic] %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          ¿Es una petición para mejorar un programa ya existente o es un proyecto o programa nuevo?
        </div>
        <div class="col-md-7">
          <%= Proyect::READ_EXISTENT_NEW[@proyect.existent_new] %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Logros          
        </div>
        <div class="col-md-7">
          <%= current_user.achievements %>
        </div>
      </div>
      <br>
      <br>
      <br>
      <%= form_for(@proyect, url: assign_update_proyect_path) do |f| %>
        <%= f.select(:volunteer_id, User.where(user_type: 2).collect {|p| [ "#{p.name + ' - ' + p.email }", p.id ] }, { include_blank: true }, class: "form-control") %>  
        <br>
        <%= f.submit "Asignar", class: "btn btn-primary" %>
      <% end %>










    </div>
  </div>
</div>