<div class="container">
  <div class="row">
    <div class="col-md-8 col-xs-12 col-md-offset-2">
      <h2>5- Continuidad del Proyecto</h2>
      <h4>
        Mediante qué acciones vas a asegurar que tu programa o proyecto continuará  una vez que se termine este apoyo (Máximo 3)
      </h4>
      <hr>
      <%= form_for(@proyect, url: continuity_update_proyect_path) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <div class="row">
          <div class="col-md-4">
            <%= f.label :col_continuity_action1, "Acción" %>
            <%= f.text_area :col_continuity_action1, class: 'form-control', required: true %>
          </div>
          <div class="col-md-4">
            <%= f.label :col_continuity_indicator1, "Indicador" %>
            <%= f.text_area :col_continuity_indicator1, class: 'form-control', required: true %>
          </div>
          <div class="col-md-4">
            <%= f.label :col_continuity_responsible1, "Responsable" %>
            <%= f.text_area :col_continuity_responsible1, class: 'form-control', required: true %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
            <%= f.label :col_continuity_action2, "Acción" %>
            <%= f.text_area :col_continuity_action2, class: 'form-control' %>
          </div>
          <div class="col-md-4">
            <%= f.label :col_continuity_indicator2, "Indicador" %>
            <%= f.text_area :col_continuity_indicator2, class: 'form-control' %>
          </div>
          <div class="col-md-4">
            <%= f.label :col_continuity_responsible2, "Responsable" %>
            <%= f.text_area :col_continuity_responsible2, class: 'form-control' %>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-md-4">
            <%= f.label :col_continuity_action3, "Acción" %>
            <%= f.text_area :col_continuity_action3, class: 'form-control' %>
          </div>
          <div class="col-md-4">
            <%= f.label :col_continuity_indicator3, "Indicador" %>
            <%= f.text_area :col_continuity_indicator3, class: 'form-control' %>
          </div>
          <div class="col-md-4">
            <%= f.label :col_continuity_responsible3, "Responsable" %>
            <%= f.text_area :col_continuity_responsible3, class: 'form-control' %>
          </div>
        </div>

        <br>
        <%= link_to "Atrás", investment_proyect_path(@proyect), class: "btn btn-default" %>
        <div class="pull-right">
          <%= f.submit "Guardar", class: "btn btn-primary" %>
          <%= link_to "Resumen", review_proyect_path(@proyect), class: "btn btn-default" %>
          
        </div>
      <% end %>  
    </div>
  </div>
</div>