<%= javascript_include_tag 'eobjectives' %>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-xs-12 col-md-offset-2">
      <h3>
        2.2 Objetivo específico:
      </h3>
      <h4>
        ¿Qué distintas actividades vas a poner en práctica para lograr tu objetivo General? <br>
        (Mínimo 1 - Máximo 3 Objetivos)
      </h4>
      <hr>
      <h4>
        <% if !@proyect.is_new? %>
          Tú objetivo general: <%= @proyect.col_211_a %> <br>
          Para mejorar <%= @proyect.col_211_b %> <br>
          Duración: <%= @proyect.col_211_c %> <br>
          <%= @proyect.col_211_d %> <br>
          Midiéndola en: <%= @proyect.col_211_e %>

        <% else %>
          Tú objetivo general: <%= @proyect.col_212_a %>  <br>
          Para cambiar: <%= @proyect.col_212_b %> <br>
          Principal beneficio: <%= @proyect.col_212_c %> <br>
          Para: <%= @proyect.col_212_d %> <br>
          En: <%= @proyect.col_212_e %> <br>
          <%= @proyect.col_212_f %>
        <% end %>

      </h4>
      <%= form_for(@proyect, url: eobjectives_update_proyect_path) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        
        <%#= f.label :col_oe1, "Objetivo Específico 1" %>
        <%#= f.text_field :col_oe1, {maxlength: 100, class: 'form-control', required: true} %>
        <p>Objetivo Específico 1</p>
        <%= f.label :col_oe1_a, "Actividad secundaria o derivada en ar, er, ir" %>
        <%= f.text_field :col_oe1_a, {maxlength: 100, class: 'form-control', required: true} %>
        <%= f.label :col_oe1_b, "¿Cuál es el principal beneficio que vas a lograr?" %>
        <%= f.text_field :col_oe1_b, {maxlength: 100, class: 'form-control', required: true} %>
        <%= f.label :col_oe1_c, "¿Para quienes? Mujeres, niños, edad, discapacitados" %>
        <%= f.text_field :col_oe1_c, {maxlength: 100, class: 'form-control', required: true} %>
        <%= f.label :col_oe1_d, "¿En dónde? Municipio, colonia" %>
        <%= f.text_field :col_oe1_d, {maxlength: 100, class: 'form-control', required: true} %>
        <%= f.label :col_oe1_e, "¿Cómo? A través de capacitación, consultas, equipar, etc." %>
        <%= f.text_field :col_oe1_e, {maxlength: 200, class: 'form-control', required: true} %>
        <br>
        <div id="show_oe1" class="btn btn-default"><b>+</b></div>
        <br>
        <br>

        <%#= f.label :col_oe2, "Objetivo Específico 2" %>
        <%#= f.text_field :col_oe2, {maxlength: 100, class: 'form-control'} %>
        <div id="oe1">
          <p>Objetivo Específico 2</p>
          <%= f.label :col_oe2_a, "Actividad secundaria o derivada en ar, er, ir" %>
          <%= f.text_field :col_oe2_a, {maxlength: 100, class: 'form-control'} %>
          <%= f.label :col_oe2_b, "¿Cuál es el principal beneficio que vas a lograr?" %>
          <%= f.text_field :col_oe2_b, {maxlength: 100, class: 'form-control'} %>
          <%= f.label :col_oe2_c, "¿Para quienes? Mujeres, niños, edad, discapacitados" %>
          <%= f.text_field :col_oe2_c, {maxlength: 100, class: 'form-control'} %>
          <%= f.label :col_oe2_d, "¿En dónde? Municipio, colonia" %>
          <%= f.text_field :col_oe2_d, {maxlength: 100, class: 'form-control'} %>
          <%= f.label :col_oe2_e, "¿Cómo? A través de capacitación, consultas, equipar, etc." %>
          <%= f.text_field :col_oe2_e, {maxlength: 200, class: 'form-control'} %>
          <br>
          <div id="show_oe2" class="btn btn-default"><b>+</b></div>
          <br>
          <br>
        </div>

        <%#= f.label :col_oe3, "Objetivo Específico 3" %>
        <%#= f.text_field :col_oe3, {maxlength: 100, class: 'form-control'} %>
        <div id="oe2">
          <p>Objetivo Específico 3</p>
          <%= f.label :col_oe3_a, "Actividad secundaria o derivada en ar, er, ir" %>
          <%= f.text_field :col_oe3_a, {maxlength: 100, class: 'form-control'} %>
          <%= f.label :col_oe3_b, "¿Cuál es el principal beneficio que vas a lograr?" %>
          <%= f.text_field :col_oe3_b, {maxlength: 100, class: 'form-control'} %>
          <%= f.label :col_oe3_c, "¿Para quienes? Mujeres, niños, edad, discapacitados" %>
          <%= f.text_field :col_oe3_c, {maxlength: 100, class: 'form-control'} %>
          <%= f.label :col_oe3_d, "¿En dónde? Municipio, colonia" %>
          <%= f.text_field :col_oe3_d, {maxlength: 100, class: 'form-control'} %>
          <%= f.label :col_oe3_e, "¿Cómo? A través de capacitación, consultas, equipar, etc." %>
          <%= f.text_field :col_oe3_e, {maxlength: 200, class: 'form-control'} %>
          <br>
        </div>

        <%= link_to "Atrás", gobjectives_proyect_path(@proyect), class: "btn btn-default" %>
        <div class="pull-right">
            <%= f.submit "Guardar", class: "btn btn-primary" %>
            <%= link_to "Siguiente", new_recipient_path, class: "btn btn-default" %>
            
        </div>
      <% end %>
    </div>
  </div>
</div>
<br>
<br>
<br>