<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-xs-12 col-md-offset-3">

      <a href="<%= @proyect.pfile %>"><div class="btn btn-default">Ver archivo</div></a> 
      <br>
      <br>
      <hr>
      <%= form_for(@proyect, url: file_update_proyect_path) do |f| %>
      
        <%= f.file_field :pfile, placeholder: "logo", class: "form-control" %>
        <br>
        <%= f.submit "Subir", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>