<div class="container">
  <div class="row">
    <div class="col-md-8 col-xs-12 col-md-offset-2">
      <h2>Sección 2- Objetivo general</h2>
      <%= form_for(@proyect, url: gobjectives_update_proyect_path) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <% if !@proyect.is_new? %>
            <h3>
              2.1.1 FORMATO para redactar el objetivo general DE PETICIÓN
            </h3>
            
            <p>
              Redactar el Objetivo General de la Petición contestando los siguientes puntos:
            </p>

            <%= f.label :col_211_a, "¿Qué estas pidiendo? Descripción de conceptos o actividad principal redactada en ar, er, ir" %>
            <%= f.text_field :col_211_a, {maxlength: 200, class: 'form-control', required: true} %>
            <br>
            <%= f.label :col_211_b, "Para mejorar ¿qué proyecto/ programa o servicio? ¿Qué ofrece este programa o servicio?" %>
            <%= f.text_field :col_211_b, {maxlength: 200, class: 'form-control', required: true} %>
            <br>
            <%= f.label :col_211_c, "¿Cuánto tiempo tienes operando el proyecto/programa u ofreciendo el servicio?" %>
            <%= f.text_field :col_211_c, {maxlength: 50, class: 'form-control', required: true} %>
            <br>
            
            <%= f.label :col_211_d, "¿Cómo vas a mejorar el proyecto/programa o servicio? ¿cuál es la situación actual  y cómo va a ser diferente después de la implementación de esta mejora?" %>
            <%= f.text_field :col_211_d, {maxlength: 200, class: 'form-control', required: true} %>
            <br>
            <%= f.label :col_211_e, "¿Cómo vas a medir esa mejora?, ¿en cuánto tiempo?" %>
            <%= f.text_field :col_211_e, {maxlength: 200, class: 'form-control', required: true} %>
            <br>
            <%= link_to "Atrás", petition_proyect_path(@proyect), class: "btn btn-default" %>

        <!-- 212 -->
        <% else %>
            <h3>
              2.1.2 FORMATO para redactar el objetivo general DE UN PROYECTO O PROGRAMA NUEVO
            </h3>
            <hr>
            <p>
              Redactar el Objetivo General del Proyecto o Programa Nuevo contestando los siguientes puntos: 
            </p>
            <%= f.label :col_212_a, "¿Cuál es la actividad principal que vas a emprender? Actividad principal redactada en ar, er, ir" %>
            <%= f.text_field :col_212_a, {maxlength: 200, class: 'form-control', required: true} %>
            <br>
            <%= f.label :col_212_b, "¿Para cambiar qué situación?" %>
            <%= f.text_field :col_212_b, {maxlength: 200, class: 'form-control', required: true} %>
            <br>
            <%= f.label :col_212_c, "¿Obtener qué beneficio? ¿Cuál es el principal beneficio que vas a lograr?" %>
            <%= f.text_field :col_212_c, {maxlength: 200, class: 'form-control', required: true} %>
            <br>
            <%= f.label :col_212_d, "¿Para quienes? Mujeres, niños, edad, discapacitados" %>
            <%= f.text_field :col_212_d, {maxlength: 50, class: 'form-control', required: true} %>
            <br>
            <%= f.label :col_212_e, "¿En dónde? Municipio, colonia." %>
            <%= f.text_field :col_212_e, {maxlength: 50, class: 'form-control', required: true} %>
            <br>
            <%= f.label :col_212_f, "¿Cómo? A través de capacitación, consultas, equipar, etc." %>
            <%= f.text_field :col_212_f, {maxlength: 50, class: 'form-control', required: true} %>
            <br>
            <%= link_to "Atrás", justificacion_proyect_path(@proyect), class: "btn btn-default" %>
        <% end %>
        <div class="pull-right">
            <%= f.submit "Guardar", class: "btn btn-primary" %>
            <%= link_to "Siguiente", eobjectives_proyect_path(@proyect), class: "btn btn-default" %>

        </div>
      <% end %>

    </div>
  </div>
</div>
<br>
<br>