<div class="container">
  <br>
  <br>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <% flash.each do |message_type, message| %>
        <div class="text-center alert alert-dismissible alert-<%= message_type %>">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= message %>
        </div>
      <% end %>
      
    </div>
  </div>
  Para descargar la guía, haz click <a href="http://premiofilantropia.brijex.co/assets/guia-cff435c3fad59c5b2081edd18f88a4d44d93ebb429053e080a4e17148a424330.xlsx" class="btn btn-default">aquí</a>
  <br>
  <br>
  <table class="table" id="index_table">
    <thead>
      <tr>
        <th>Nombre AC</th>
        <th>Email</th>
        <th>Asignado</th>
        <th>Aprobado?</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @proyects.each do |proyect| %>
        <tr class="fas" data-link="<%= proyect_path(proyect) %>">
          <td><%= proyect.user.ac_name %></td>
          <td><%= proyect.user.email %></td>
          <td><%= "Si" if proyect.volunteer_id? %></td>
          <td><%= proyect.evaluation %></td>
          <% if current_user.admin? %>
            <td class="text-center">
              <%= link_to "Ver", proyect_path(proyect), class: "btn btn-sm btn-default" %>
              <% if proyect.accepted == 1%>
                <a href="/resource/<%= proyect.id %>/adminsummary"><button class="btn btn-sm btn-default">Ver Etapa Finalista</button></a>
              <% end %>
              <a href="/proyects/<%= proyect.id %>/assign"><button class="btn btn-sm btn-default">Voluntario</button></a>
              <a href="<%= proyect.pfile %>"><div class="btn btn-sm btn-default">Ver archivo</div></a> 
              <% if !proyect.evaluated? %>
                <a href="/proyects/<%= proyect.id %>/accept"><div class="btn btn-sm btn-success">Aceptar</div></a> 
                <a href="/proyects/<%= proyect.id %>/reject"><div class="btn btn-sm btn-danger">Rechazar</div></a> 
              <% end %>
            </td>
          <% else %>
            <td>
              <a href="/proyects/<%= proyect.id %>/file"><button class="btn btn-sm btn-default">Archivo</button></a>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>