<%= javascript_include_tag 'investment' %>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-xs-12 col-md-offset-3">
    <h2>4.1 Conceptos resumidos y monto total de la inversión solicitada</h2>
    <hr>
    <%= form_for(@proyect, url: investment_update_proyect_path) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

        <p>
          Ingresar el monto de la propuesta en cada concepto. La suma no debe ser mayor a 300,000.
          <br>
        </p>



        <p>Aportaciones monetarias:</p>
        <br>
        <%= f.label :investment_b, "Construcción u obra civil:" %>
        <%= f.number_field :investment_b, {min: 0, class: 'form-control', required: true} %>
        <br>
        <%= f.label :investment_c, "Equipamiento y materiales:" %>
        <%= f.number_field :investment_c, {min: 0, class: 'form-control', required: true} %>
        <br>
        <%= f.label :investment_d, "Honorarios:" %>
        <%= f.number_field :investment_d, {min: 0, class: 'form-control', required: true} %>
        <br>
        <%= f.label :investment_e, "Otro concepto:" %>
        <%= f.number_field :investment_e, {min: 0, class: 'form-control', required: true} %>
        <br>
        <%= f.label :investment_f, "Otras aportaciones ‘en especie’ puede ser tiempo:" %>
        <%= f.number_field :investment_f, {min: 0, class: 'form-control', required: true} %>
        <br>
        <%= f.label :investment_sum, "Total:" %>
        <%= f.number_field :investment_sum, {min: 0, class: 'form-control', required: true, disabled: false} %>
        <br>
        <br>

        <div class="alert alert-danger" style="display:none;" id="alerta">
          Error: El total no debe exceder los $300,000.00 pesos
        </div>  

        <h2>4.2 Tiempo total de implementación del proyecto en semanas:</h2>
        <hr>

        <%= f.label :total_weeks, "Total de semanas:" %>
        <%= f.select :total_weeks, options_for_select((1..52).step(1).to_a.map {|s| ["#{s}", s]}, @proyect.total_weeks), {include_blank: false}, {class: "form-control"} %>
        <%#= f.number_field :total_weeks, {class: 'form-control', required: true} %>
        <br>

        <%= link_to "Atrás", new_recipient_path, class: "btn btn-default" %>


        <div class="pull-right">
            <%= f.submit "Guardar", class: "btn btn-primary" %>
            <%= link_to "Siguiente", continuity_proyect_path(@proyect), class: "btn btn-default" %>
            
        </div>


      <% end %>  
        <br>
        <br>
        <br>

    </div>
  </div>
</div>