<%= javascript_include_tag 'justification' %>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-xs-12 col-md-offset-3">
      <h2>PROGRAMA / PROPUESTA NUEVO</h2>
      <h3>
        Sección 1.1- Diagnóstico del Proyecto o programa/Justificación 
      </h3>
      <%= form_for(@proyect, url: justificacion_update_proyect_path) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <hr>
        <p>Selecciona todas las opciones que apliquen para tu proyecto <b>(Se puede seleccionar más de una opción)</b>:</p>
        ¿De dónde surge la idea?
        <br>

        <%= f.check_box :idea_emerge_a %>  De la comunidad o beneficiarios
        <%#= label :idea_emerge, 'De la comunidad o beneficiarios' %>
        <br>

        <%= f.check_box :idea_emerge_b %> De la OSC
        <%#= label :idea_emerge, 'De la OSC' %>
        <br>

        <%= f.check_box :idea_emerge %> Otro ¿Cuál?
        <%#= label :idea_emerge, 'Otro ¿Cuál?' %>
        <%= f.text_field :idea_emerge_exp, {maxlength: 50, class: 'form-control'} %>
        <br>
        <br>

        El proyecto forma parte de una necesidad detectada en la comunidad. Se llevó a cabo:
        <%= f.radio_button :procedure_taken, '0' %>
        <%= label :procedure_taken, 'Se observó', required: "required" %>

        <%= f.radio_button :procedure_taken, '1' %>
        <%= label :procedure_taken, 'Un estudio' %>

        <%= f.radio_button :procedure_taken, '2' %>
        <%= label :procedure_taken, 'Un testimonio' %>

        <%= f.radio_button :procedure_taken, '3' %>
        <%= label :procedure_taken, 'Otro. ¿Cuál?' %>

        <br>
        <br>

        <%#= f.label :importance, "¿Por qué es importante este proyecto o programa para la organización?" %>
        <%#= f.text_field :importance, {maxlength: 50, class: 'form-control'}, required: true%>
        <%#= f.select :importance, options_for_select(Proyect::SELECT_IMPORTANCE.map {|opt| opt}, @proyect.importance), {include_blank: true}, {class: "form-control", required: "required"} %>

        <!-- <div class="question_container">
          <p id="question">
            Conteste en caso de que la opción anterior tenga pregunta
          </p>
 -->
          <%#= f.text_field :importance_text, {maxlength: 50, class: 'form-control'}%>
        <!-- </div> -->


        <p>¿Por qué es importante este proyecto o programa para la organización?</p>

        
        <div class="checkboxes">
          <%= check_box_tag 'check_a', '', @proyect.importance_text != "" %>
          Ampliar el número de programas o servicios
          <%= f.text_field :importance_text, {maxlength: 50, class: 'form-control'}%>
          <br>
          <br>
          
          <%= check_box_tag 'check_b', '', @proyect.importance_text_b != "" %>
          Le doy continuidad a un proyecto anterior ¿Cuál?
          <%= f.text_field :importance_text_b, {maxlength: 20, class: 'form-control'}%>
          <br>
          <br>
          
          <%= check_box_tag 'check_c', '', @proyect.importance_text_c != "" %>
          Mejora la calidad de atención ¿cómo?
          <%= f.text_field :importance_text_c, {maxlength: 50, class: 'form-control'}%>
          <br>
          <br>
          
          <%= check_box_tag 'check_d', '', @proyect.importance_text_d != "" %>
          Contribuyo a la solución de un problema nuevo en mis beneficiarios ¿cómo?
          <%= f.text_field :importance_text_d, {maxlength: 50, class: 'form-control'}%>
          <br>
          <br>
          
          <%= check_box_tag 'check_e', '', @proyect.importance_text_e != "" %>
          Mejoro mi operación interna ¿cómo?
          <%= f.text_field :importance_text_e, {maxlength: 50, class: 'form-control'}%>
          <br>
          <br>
          
          <%= check_box_tag 'check_f', '', @proyect.importance_text_f != "" %>
          Genero un ahorro a mis gastos ¿cómo, mediante qué acciones y metodología?, ¿cuánto, qué cantidad?
          <%= f.text_field :importance_text_f, {maxlength: 200, class: 'form-control'}%>
          <br>
          <br>
          
          <%= check_box_tag 'check_g', '', @proyect.importance_text_g != "" %>
          Genero un ingreso nuevo ¿cómo, mediante qué acciones y metodología?, ¿cuánto, qué cantidad? ¿Quién es mi cliente, cómo tengo seguro que sea mi cliente?
          <%= f.text_field :importance_text_g, {maxlength: 200, class: 'form-control'}%>
          <br>
          <br>
          
          <%= check_box_tag 'check_h', '', @proyect.importance_text_h != "" %>
          Otro ¿cúal?
          <%= f.text_field :importance_text_h, {maxlength: 50, class: 'form-control'}%>
          <br>
          <br>
        </div>



        <br>
        <br>


        <%= link_to "Atrás", edit_proyect_path(@proyect), class: "btn btn-default" %>
        <div class="pull-right">
          <%= f.submit "Guardar", class: "btn btn-primary" %>
          <%= link_to "Siguiente", gobjectives_proyect_path(@proyect), class: "btn btn-default" %>
        </div>
      <% end %>
      <br>
      <br>


    </div>
  </div>
</div>