<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-xs-12 col-md-offset-2">
      <h1 class="text-center">¡Proyecto registrado con éxito!</h1>
      <p>
        Para editar información de tu proyecto, inicia sesión y ve a "Registra tu Proyecto"
      </p>
    </div>
  </div>
</div>