<%= javascript_include_tag 'continuity' %>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-xs-12 col-md-offset-2">
      <h3>
        Acciones:
      </h3>
      <h4>
        ¿Qué acciones  o resumen de tareas tienes que llevar a cabo para lograrlo? (máximo 3 por objetivo) Resume por tareas afines
      </h4>
      <hr>
      <%= form_for(@proposal) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        
        <p>Objetivo Específico 1</p>
        <%= @proyect.col_oe1_a %>
        para lograr <%= @proyect.col_oe1_b %>
        para <%= @proyect.col_oe1_c %>
        en <%= @proyect.col_oe1_d %>
        <%= @proyect.col_oe1_e %>
        <br>
        

        <%= f.label :action_1a, "Acción 1.1" %>
        <%= f.text_field :action_1a, class: 'form-control', required: true %>
        <br>
        <div id="show_a2a" class="btn btn-default"><b>+</b> Añadir Acción</div>
        
        <div class="row" id="action_2a">
          <div class="col-md-12">
            <%= f.label :action_1b, "Acción 1.2" %>
            <%= f.text_field :action_1b, class: 'form-control' %>
            <br>
            <div id="show_a3a" class="btn btn-default"><b>+</b> Añadir Acción</div>
          </div>
        </div>

        <div class="row" id="action_3a">
          <div class="col-md-12">
            <%= f.label :action_1c, "Acción 1.3" %>
            <%= f.text_field :action_1c, class: 'form-control' %>
            <br>
          </div>
        </div>
        <br>






        <% if @proyect.col_oe2_a != ""%>
          <hr>
          <p>Objetivo Específico 2</p>
          <%= @proyect.col_oe2_a %>
          para lograr <%= @proyect.col_oe2_b %>
          para <%= @proyect.col_oe2_c %>
          en <%= @proyect.col_oe2_d %>
          <%= @proyect.col_oe2_e %>
          <br>
          <%= f.label :action_2a, "Acción 2.1" %>
          <%= f.text_field :action_2a, class: 'form-control' %>
          <br>
          <div id="show_a2b" class="btn btn-default"><b>+</b> Añadir Acción</div>
          <br>
          
          <div class="row" id="action_2b">
            <div class="col-md-12">
              <%= f.label :action_2b, "Acción 2.2" %>
              <%= f.text_field :action_2b, class: 'form-control' %>
              <br>
              <div id="show_a3b" class="btn btn-default"><b>+</b> Añadir Acción</div>
            </div>
          </div>
          <br>
          
          <div class="row" id="action_3b">
            <div class="col-md-12">
              <%= f.label :action_2c, "Acción 2.3" %>
              <%= f.text_field :action_2c, class: 'form-control' %>
            </div>
          </div>
          <br>

        <% end %>
        

        <% if @proyect.col_oe3_a != ""%>
          <hr>
          <p>Objetivo Específico 3</p>
          <%= @proyect.col_oe3_a %>
          para lograr <%= @proyect.col_oe3_b %>
          para <%= @proyect.col_oe3_c %>
          en <%= @proyect.col_oe3_d %>
          <%= @proyect.col_oe3_e %>
          <br>
  


          <%= f.label :action_3a, "Acción 3.1" %>
          <%= f.text_field :action_3a, class: 'form-control' %>
          <br>
          <div id="show_a2c" class="btn btn-default"><b>+</b> Añadir Acción</div>
          <br>

          <div class="row" id="action_2c">
            <div class="col-md-12">
              <%= f.label :action_3b, "Acción 3.2" %>
              <%= f.text_field :action_3b, class: 'form-control' %>
              <br>
              <div id="show_a3c" class="btn btn-default"><b>+</b> Añadir Acción</div>
            </div>
          </div>
          <br>
          
          <div class="row" id="action_3c">
            <div class="col-md-12">
              <%= f.label :action_3c, "Acción 3.3" %>
              <%= f.text_field :action_3c, class: 'form-control' %>
            </div>
          </div>
        <% end %>
          

        <br>

        <div class="pull-right">
            <%= f.submit "Guardar", class: "btn btn-primary" %>
            <%= link_to "Siguiente", new_section_path, class: "btn btn-default" %>
            
        </div>
      <% end %>
    </div>
  </div>
</div>
<br>
<br>
<br>