<div class="container">
  <div class="row">
    <div class="col-md-8 col-xs-12 col-md-offset-2">
      <h3>
        Impacto:
      </h3>
      <h4>
        Completa lo que se indica
      </h4>
      <hr>
      <%= form_for(@proposal, url: impacts_update_proposal_path) do |f| %>
      	<table>
      		<thead>
      			<th>Objetivo Especifico</th>
      			<th>Meta</th>
      			<th>Indicador</th>
      			<th>Evidencia</th>
      		</thead>
      		<tbody>
      			<tr>

      				<td><%= f.text_area :impact_objective1, class: 'form-control', :rows => 7%></td>
      				<td><%= f.text_area :impact_goal1, {maxlength: 100, class: 'form-control', required: true, rows: 7} %></td>
      				<td><%= f.text_area :impact_indicator1, {maxlength: 150, class: 'form-control', required: true, rows: 7}%></td>
      				<td><%= f.text_area :impact_evidence1, {maxlength: 255, class: 'form-control', required: true, rows: 7}%></td>
      			</tr>
      			<tr>
      				<td><%= f.text_area :impact_objective2, class: 'form-control', :rows => 7%></td>
      				<td><%= f.text_area :impact_goal2, {maxlength: 100, class: 'form-control', required: true, rows: 7} %></td>
      				<td><%= f.text_area :impact_indicator2, {maxlength: 150, class: 'form-control', required: true, rows: 7}%></td>
      				<td><%= f.text_area :impact_evidence2, {maxlength: 255, class: 'form-control', required: true, rows: 7}%></td>
      			</tr>
      			<tr>
      				<td><%= f.text_area :impact_objective3, class: 'form-control', :rows => 7%></td>
      				<td><%= f.text_area :impact_goal3, {maxlength: 100, class: 'form-control', required: true, rows: 7} %></td>
      				<td><%= f.text_area :impact_indicator3, {maxlength: 150, class: 'form-control', required: true, rows: 7}%></td>
      				<td><%= f.text_area :impact_evidence3, {maxlength: 255, class: 'form-control', required: true, rows: 7}%></td>
      			</tr>
      		</tbody>
      	</table>
      	<br>
      	<div class="pull-right">
            <%= f.submit "Guardar", class: "btn btn-primary" %>
            <%= link_to "Siguiente", new_resource_path, class: "btn btn-default" %>
        </div>
      <% end %>
      <br>
      <br>
      <br>
	</div>
  </div>
</div>