<div class="container">
  <div class="row">
    <div class="col-md-8 col-xs-12 col-md-offset-2">
      <h3>
        Metodología:
      </h3>
      <h4>
        Completa lo que se indica
      </h4>
      <hr>
      <%= form_for(@proposal, url: methodologies_update_proposal_path) do |f| %>
      	<table>
      		<thead>
      			<th>Método o procedimiento</th>
      			<th>Medio o Tecnología ¿A través de?</th>
      			<th>¿Cómo se hace?</th>
      		</thead>
      		<tbody>
      			<tr>
      				<td>El método o procedimiento es el proceso o camino sistematico establecido para realizar una tarea o trabajo con el fin de alcanzar un objetivo predeterminado <br>Ejemplo: Capacitación, vacunación, construcción, programa educativo, etc.</td>
      				<td>A través de  (ejemplos): curso o material de la SEMARNAT, Kit de vacunación de la Sria de Salud, Juego interactivo de la SEP, Programa de valores de la UASLP, etc</td>
      				<td>Ejemplos: Sesiones de 2 horas cada semana en formato de clases, un evento cada mes en el centro comunitario, en cada escuela los sábados con la ayuda de los padres de familia, se reparte el material en el mercado, etc.</td>
      			</tr>
      				<td><%= f.text_area :methodology_process, class: 'form-control', :rows => 10%></td>
      				<td><%= f.text_area :methodology_medium, class: 'form-control', :rows => 10%></td>
      				<td><%= f.text_area :methodology_description, class: 'form-control', :rows => 10%></td>
      			<tr>
      			</tr>
      		</tbody>
      	</table>
      	<br>
      	<div class="pull-right">
            <%= f.submit "Guardar", class: "btn btn-primary" %>
            <%= link_to "Siguiente", impacts_proposal_path(@proposal), class: "btn btn-default" %> 
        </div>
      <% end %>
	</div>
  </div>
</div>