html, body {
	width:100%;
	height:100%;
	background-color:#041b2d;
	color: #fff;
}

#contenedor-general{

	/*width:100%;*/
	/*height: 100%;*/
	/*overflow-y:scroll !important;*/
}

.navbar {
	background-color: #041b2d;
	margin-bottom: 0px;
	/*border-bottom: 3%;
	border-color:#e1d700;*/

}
.navbar-left{
	height:100%;
	width:100%;
}

.separator{
	height: 5px;
	background-color: #e1d700;
	width: 100%;
}

.navbar-default .navbar-nav li a{
	color:#fff;
}

.navbar-brand{
	margin-left: 3%!important;
	height:100%;
	width:15%;
	padding-top: 0;
	padding-bottom: 0;
}
@media screen and (max-width: 700px) {
 .navbar-brand{width:80%;height:80%;}
 #logonav{width:80%;height:80%;}
}

#nav{
	height: 90px;
}

#logonav{
	padding-left: 2%;
	width:100%;
	height:100%;
}

/*#navegacion{

margin-left: 0%;
padding-left: 0%;
width: 100%;
height:100%;
}
*/

#listanav{
	padding-top: 2%;
	margin-right: 7%;
	box-sizing:border-box;
}

.contenedor-carousel{

	height: 50%;
	width:100%;
}

.carousel {
	min-height:25%;
	/*margin-bottom: 10px;*/
	margin-left:0%;
	margin-right: 0%;
	width: 100%;
	padding:0%;
	overflow-y:scroll !important;
}

::-webkit-scrollbar { 
    display: none; 
}


#homelogo{
	margin-top: 0%;
	width:100%;
}

.row{
	/*margin-left: 3%;*/
}

.contenedor-interno {
	/*background-color: #041b2d;*/
	/*height: 100%;*/
	/*width:100%;*/
}

.container-fluid{
	padding-top: 1%;
	padding-bottom: 5%;
}

.row-fluid {
	width:100%;
}

#imagenes{
	padding:1%;
}

.general_notification{
  position: fixed;
  top: 90px;
  right: 35%;
  z-index: 9999;
}

/*table.td_wrap td{
	max-width: 15px;
	max-height: 15px;
}

table.td_wrap1 td{
	width: 40%;
	height: 40%;
}*/

table, th, td {
    border: 1px solid white;
}


input.long {
  width: 100%;
  margin-bottom: 15px;
}